<template>
    <div class="PageLogin">
        <div class="md-layout md-gutter md-alignment-top-center">
            <div class="md-layout-item md-size-40">
                <login></login>
            </div>
        </div>
    </div>
</template>

<script>
    import Login from '../../components/auth/Login';
    export default {
        components: {
            Login
        }
    }
</script>