<template>
    <div class="PostPreview">
        <div class="card-expansion">
            <md-card>
                <div class="allWrapper">
                    <md-card-media class="card-media-preview">
                        <img class="placeholder-big" src="/img/placeholder-big.png"/>
                        <img class="real-image-big" @load="onImageLoad" :src="item.data.image"/>

                        <div v-if="deleted" class="deletedOverlay">
                            <p>
                                Ресурс будет<br/>
                                удален
                            </p>
                        </div>
                    </md-card-media>
                    <dots-editor
                            :dots="item.dots"
                            :postId='id'
                            @changeMode="onEditorChangeMode"
                            @dotsSaved="onDotsSaved"
                            @dotDeleted="onDotDeleted"
                            @savedDot="onSavedDot"
                    ></dots-editor>
                </div>

                <md-toolbar v-if="editorMode == 'editAccount' && showModdle" class="z0 md-primary md-dense toolbar-act" md-elevation="1">
                    <md-button style="flex: 1" @click="deleteModdle()">Редактировать</md-button>
                    <md-button style="flex: 1" @click="addOffer()">Добавить оффер</md-button>
                </md-toolbar>

                <md-toolbar v-if="editorMode == 'editAccount' && !showModdle" class="z0 md-primary md-dense toolbar-act" md-elevation="1">
                    <md-button style="flex: 1" @click="saveCurrentDot()">Сохранить</md-button>
                    <md-button style="flex: 1" @click="askDeleteCurrentDot()">
                        Удалить
                    </md-button>
                </md-toolbar>

                <editor-panel v-if="editorMode == 'editAccount' && !showModdle" :dot="currentDot"></editor-panel>

                <div v-if="editorMode == 'init'">
                    <table class="table-bordered tbx">
                        <tr>
                            <td width="30%" class="labcol"><b >Статус: </b></td>
                            <td width="100%">
                                <span class="post_status">{{item.statuses}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td width="30%" class="labcol"><b >Ссылка:</b></td>
                            <td width="100%">
                                <a target="_blank" :href="shortlink">{{shortlink}}</a>
                            </td>
                        </tr>
                        <tr>
                            <td width="30%" class="labcol"><b >Теги: </b></td>
                            <td width="100%">
                                <div v-for="tag in item.data.parse_tags" class="tag_el">
                                    {{tag}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="30%" class="labcol"><b>Дата создания: </b></td>
                            <td width="100%">
                                {{item.data.created | moment("DD.MM.YYYY H:mm:ss")}}
                            </td>
                        </tr>
                        <tr>
                            <td width="30%" class="labcol"><b>Instagram: </b></td>
                            <td width="100%">
                                <a target="_blank" :href="item.data.url">
                                    {{item.data.url}}
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>

                <template v-if="editorMode != 'add'">
                    <md-subheader v-if="item.total_links.length == 0">Офферов нет</md-subheader>
                    <offers-preview-list v-if="showOffersElement" :links="offersLinks" :seeAll="offerLinksSeeAll" :postId="id" :dotId="dotId"></offers-preview-list>
                </template>
            </md-card>

            <template v-if="editorMode == 'add'">
                <md-toolbar class="z0 md-primary md-dense toolbar-act" md-elevation="1">
                    <md-button style="flex: 1" @click="saveDots()">Сохранить</md-button>
                    <md-button style="flex: 1" @click="cancelDots()">Отмена</md-button>
                </md-toolbar>
            </template>

            <md-dialog-confirm
                    :md-active.sync="isDeleteDot"
                    md-title="Подтвердите удаление тега"
                    md-content="Все связи с офферами с этим тегом перестанут существовать"
                    md-confirm-text="Да, удалить"
                    md-cancel-text="Отмена"
                    @md-cancel="onCancelDeleteDot"
                    @md-confirm="deleteCurrentDot" />
        </div>

        <sweet-modal ref="modalOffer" modal-theme="light" overlay-theme="dark" width="80%">
            <offers-choose @SelectedNewOffer="offerNewSelected" @SelectedNewListOffer="offerListSelected" ></offers-choose>
        </sweet-modal>
    </div>
</template>

<style lang="scss">
    .tbx {
        width: 100%;
        padding: 15px;
    }

    #addOffersDialog {

    }
</style>

<style lang="scss" scoped>
    .tag_offer_caption {
        display: flex;
    }

    .card-media-preview {
        position: relative;

        .deletedOverlay {
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: 0px;
            right: 0px;
            background: #0072ff91;

            p {
                color: white;
                font-size: 32px;
                font-weight: 100;
                line-height: 36px;
                text-align: center;
            }
        }
    }

    .allWrapper {
        position: relative;
    }


    .placeholder-big {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        display: block;
        height: auto;
    }

    .real-image-big {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: auto;
        opacity: 0;
    }

    .real-image-big-loaded {
        opacity: 1;
        transition: 0.3s;
    }
</style>

<script>
    import { SweetModal } from 'sweet-modal-vue';
    import OffersChoose from '../OffersChoose/OffersChoose';
    import DotsEditor from '../DotsEditor/DotsEditor';
    import EditorPanel from '../EditorPanel/EditorPanel';
    import OffersPreviewList from '../OffersPreviewList/OffersPreviewList';
    

    export default {
        props: ['currentCode', 'deleted'],
        watch: {
            currentCode: {
                deep: true,
                handler: function(id) {
                    this.id = id;
                    if (id) this.loadItem(id);
                },
            }
        },
        components: {
            OffersPreviewList,
            DotsEditor,
            EditorPanel,
            OffersChoose,
            SweetModal
        },

        mounted() {

        },

        computed: {
            shortlink() {
                return window.location.origin + '/' + this.item.data.id;
            }
        },

        created() {
            var params = this.$route.params;
            if (params.id) {
                this.id = params.id;
                this.loadItem(params.id);
            }

            this.$root.$on("offerlinkDeleted", this.offerLinkDeleted);
            //this.$root.$on("SelectedNewOffer", this.offerNewSelected);
            this.$root.$on("onEditorClick", this.onEditorClick);
        },

        methods: {
            offerLinkDeleted() {
                if (this.editorMode == 'init') {
                    this.loadItem(this.id);
                } else if (this.editorMode == 'editAccount') {
                    this.$root.$emit("onTagSelectClick", {
                        current: this.currentDot,
                        current_id: this.currentDot.id
                    });
                }
            },

            onEditorClick() {
                this.showModdle = true;
                this.showOffersElement = true;
            },

            deleteModdle() {
                this.showModdle = false;
                this.showOffersElement = false;
            },

            offerNewSelected(id) {
                var self = this;
                this.$http
                .post("/api/utils/navigator/add-new-offerlink", {
                    dotId: this.currentDot.id,
                    offerId: id
                })
                .then(response => {
                    this.$root.$emit("onAfterAddNewOffer", this.currentDot);
                    this.$refs.modalOffer.close();
                }).catch(function(e) {
                    console.log(e);
                    alert(e);
                });
            },

            offerListSelected(id) { 
                var self = this;
                this.$http
                .post("/api/utils/navigator/add-new-offerlink-list", {
                    dotId: this.currentDot.id,
                    list_id: id 
                })
                .then(response => {
                    console.log(response.data);
                    this.$root.$emit("onAfterAddNewOffer", this.currentDot);
                    this.$refs.modalOffer.close();
                }).catch(function(e) {
                    alert(e);
                });
            },

            onSavedDot() {
                this.loadItem(this.id);
            },

            onDotDeleted() {
                this.loadItem(this.id);
            },

            loadItem(id) {
                var self = this;
                this.$http
                .get("/api/navigator/post/"+id)
                .then(response => {
                    this.item = response.data;
                    this.offersLinks = this.item.total_links;
                    this.offerLinksSeeAll = true;
                    this.editorEnabled = false;
                    this.editorMode = 'init';
                    this.isDeleteDot = false;
                    this.showModdle = true;
                    this.showOffersElement = true;
                    this.showAddOfferDialog = false;
                    this.$emit("changePost", this.item);
                    this.$root.$emit("onChangePost", this.item);
                    this.$root.$emit("initItemLinks", this.offersLinks);
                }).catch(function(e) {
                    console.log(e);
                    alert(e);
                });
            },

            askDeleteCurrentDot() {
                this.isDeleteDot = true;
            },

            onDotsSaved(new_dots) {
                this.loadItem(this.id);
            },

            saveCurrentDot() {
                this.$root.$emit("SaveCurrentDot");
            },

            onCancelDeleteDot() {
                this.isDeleteDot = false;
            },

            deleteCurrentDot() {
                this.isDeleteDot = false;
                this.$root.$emit("DeleteCurrentDot");
            },

            onImageLoad(event) {
                let target = event.target;
                target.classList.add("real-image-big-loaded");
            },

            onEditorChangeMode(data) {
                this.editorMode = data.mode;
                if (data.mode == 'editAccount') {
                    this.showModdle = true;
                    this.showOffersElement = true;
                    this.currentDot = data.current;
                }
            },

            addOffer() {
                this.$root.$emit("onAddOffer", {
                    currentDot: this.currentDot
                });
                this.$refs.modalOffer.open();
            },

            cancelDots() {
                this.$root.$emit("disableEditorAddMode");
            },

            saveDots() {
                this.$root.$emit("saveDots");
            }
        },

        data() {
            return {
                item: {
                    data: {},
                    total_links: [],
                    dots: [],
                    statuses: null
                },
                offersLinks: [],
                offerLinksSeeAll: true,
                id: null,
                dotId: null,
                editorMode: 'init',
                currentDot: null,
                showAddOfferDialog: false,
                isDeleteDot: false,
                showModdle: true,
                showOffersElement: true,
                
            };
        }
    }
</script>
