<template>
    <div>
         <div class="md-layout md-gutter">
            <div class="md-layout-item item100">
                <md-content>
                    <div class="head">
                        <h2>
                            Список категорий Amazon
                        </h2>
                        <p>
                            1. Каждая новая категория для парсинга с новой строки<br/>
                            3. Ссылка на категорию должна быть изначально рабочей, иначе парсинг этой ссылки не произойдет
                        </p>
                    </div>
                    <div class="md-layout" style="padding: 15px">
                        <md-field>
                          <label>Категории</label>
                          <md-textarea class="textarea-big" v-model="categories"></md-textarea>
                        </md-field>
                    </div>
                </md-content>
            </div>
        </div>
        <div class="text-center">
            <md-button class="md-raised md-primary" @click="save()">Сохранить</md-button>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .item100 {
        width: 100;
    }

    .textarea-big {
        min-height: 600px !important;
    }
</style> 

<script>
    export default {
        components: {

        },

        mounted() {
            this.load();
        },

        methods: {
            load() {
                this.$http.get("/api/config/amazon-config/load").then(response => {
                    this.categories = response.data.categories;
                });
            },

            save() {
                this.$http.post("/api/config/amazon-config/save", {
                    categories: this.categories
                }).then(response => {
                    console.log(response.data);
                });
            }
        },

        data() {
            return {
                categories: "", 
            }
        }
    }
</script>