<template>
    <div>
        <div id="DOTS_Editor" :class="mode" @click="clickEditor()">
            <div id="TAG_Images">
                <div class="dot"  v-for="dot in dots" :style="{
                left: prepCoord(dot.x),
                top: prepCoord(dot.y),
                width: prepCoord(dot.width),
                height: prepCoord(dot.width)
            }" :class='ifCurrentClass(dot)' @click="clickDot(dot, $event)">
                    <div class="iconvx" :class="dot.icon"></div>
                </div>

                <div class="dot addDot" v-if="mode == 'add'"  v-for="dot in addDots" :style="{
                left: prepCoord(dot.x),
                top: prepCoord(dot.y),
                width: prepCoord(dot.width),
                height: prepCoord(dot.width)
            }" :class='ifCurrentClass(dot)'>
                    <div class="iconvx" :class="dot.icon"></div>
                </div>
            </div>
            <div class="overlay_add" @click="addPointer()" v-if="mode == 'add'" @mousemove="tagMouseMove" @mouseout="tagMouseOut" @mouseover="tagMouseIn">
                <div class="corX abs" v-if="mouseOutOf" :style="{top: prepCoord(corY)}"></div>
                <div class="corY abs" v-if="mouseOutOf" :style="{left: prepCoord(corX)}"></div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    #DOTS_Editor, #TAG_Images {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        overflow: hidden;
    }

    .dot {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: rgba(50, 122, 230, 0.72);
        position: absolute;
        opacity: 0.9;
        transform: translate(-50%,-50%);
    }

    .dot.CurrentDot {
        box-shadow: 0px 0px 0px 3px white;
        transition: 0.1s;
    }

    #DOTS_Editor.edit .dot:not(.CurrentDot), #DOTS_Editor.add .dot:not(.addDot){
        background: #00000063;
        opacity: 0.8;
    }

    .abs {
        position: absolute;
    }

    .corX {
        height: 3px;
        left: 0px;
        right: 0px;
        background-color: black;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    .corY {
        width: 3px;
        top: 0px;
        bottom: 0px;
        background-color: black;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

    #DOTS_Editor.add .dot:hover {
        cursor: default;
    }

    #DOTS_Editor.add * {
        cursor: none;
    }

    .dot:hover {
        cursor: pointer;
        opacity: 1;
        transition: 0.2s;
    }

    .iconvx {
        background-size: cover !important;
        position: absolute;
        left: 10%;
        top: 10%;
        right: 10%;
        bottom: 10%;
    }

    .iconvx.sofa {
        background: url("/img/icons/sofa.svg") center no-repeat transparent;
    }

    .iconvx.lamp {
        background: url("/img/icons/lamp.svg") center no-repeat transparent;
    }

    .iconvx.seat {
        background: url("/img/icons/seat.svg") center no-repeat transparent;
    }

    .iconvx.new {
        background: url("/img/icons/new.svg") center no-repeat transparent;
    }

    .overlay_add {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }
</style>

<script>
    export default {
        props: ['dots', 'postId'],
        components: {

        },

        mounted() {

        },

        created() {
            this.$root.$on("initItem", this.onInitItem);
            this.$root.$on("editorAddModeEnable", this.addModeEnable);
            this.$root.$on("disableEditorAddMode", this.cancelAddModeEnable);
            this.$root.$on("saveDots", this.saveDots);
            this.$root.$on("SaveCurrentDot", this.saveCurrentDot);
            this.$root.$on("DeleteCurrentDot", this.deleteCurrentDot);
        },

        methods: {
            saveCurrentDot() {
                var self = this;
                this.$http
                    .post("/api/utils/navigator/save-dot/"+this.current_id, {dot: this.current})
                    .then(response => {
                        console.log(response);
                        this.mode = 'init';
                        this.$emit("savedDot");
                        this.passEvents();
                    }).catch(function(e) {
                    console.log(e);
                    alert(e);
                });
            },

            deleteCurrentDot() {
                var self = this;
                this.$http
                .post("/api/utils/navigator/delete-dot/"+this.current_id)
                .then(response => {
                    this.mode = 'init';
                    this.$emit("dotDeleted");
                    this.passEvents();
                }).catch(function(e) {
                    console.log(e);
                    alert(e);
                });
            },

            addModeEnable() {
                this.mode = 'add';
                this.passEvents();
            },

            saveDots() {
                var self = this;
                this.$http
                .post("/api/utils/navigator/save-dots/"+this.postId, {
                    dots: this.addDots
                })
                .then(response => {
                    this.mode = 'init';
                    this.$emit("dotsSaved", this.addDots);
                    this.passEvents();
                }).catch(function(e) {
                    console.log(e);
                    alert(e);
                });
            },

            cancelAddModeEnable() {
                this.mode = 'init';
                this.addDots = [];
                this.passEvents();
            },

            onInitPost() {
                this.mode = 'init';
            },

            prepCoord(x) {
                return x*100 + '%';
            },

            clickDot(dot, event) {
                switch(this.mode) {
                    case 'editAccount':
                    case 'init':
                        this.initToEdit(dot, event);
                        this.mode = 'editAccount';
                        break;

                    case 'add':
                        event.stopPropagation();
                        break;
                }

                this.passEvents();
            },

            clickEditor() {
                if (this.mode == 'add') return;
                this.mode = 'init';
                this.passEvents();
                this.$root.$emit("onEditorClick", {
                    current: this.current,
                    current_id: this.current_id
                });
            },

            initToEdit(dot, event) {
                event.stopPropagation();
                if (typeof this.oldCurrent != "undefined" && typeof this.current != "undefined") {
                    for (var key in this.current) {
                        var prop = this.oldCurrent[key];
                        this.current[key] = prop;
                    }
                }
                this.current = dot;
                this.oldCurrent = JSON.parse(JSON.stringify(dot));
                this.current_id = dot.id;
                this.addDots = [];
                this.$root.$emit("onTagSelectClick", {
                    current: this.current,
                    current_id: this.current_id
                });
            },

            ifCurrentClass(dot) {
                if (dot.id == this.current_id && this.mode == 'editAccount') {
                    return 'CurrentDot';
                }
            },

            passEvents() {
                let data = {
                    mode: this.mode,
                    current_id: this.current_id,
                    current: this.current
                }
                this.$emit("changeMode", data);
            },

            tagMouseOut() {
                this.mouseOutOf = false;
            },

            tagMouseIn() {
                this.mouseOutOf = true;
            },

            tagMouseMove(e) {
                var element = document.getElementById("DOTS_Editor");
                var width = element.offsetWidth;
                var height = element.offsetWidth;
                var rect = element.getBoundingClientRect();
                var left =  e.pageX - rect.left;
                var top = e.pageY - rect.top;
                var x = left/width;
                var y = top/height;

                //Сохраняем координаты во временные поля
                this.corX = x;
                this.corY = y;
            },

            addPointer() {
                this.addDots.push({
                    "x": this.corX,
                    "y": this.corY,
                    "width": 0.1,
                    "icon": 'new'
                });
            }
        },

        data() {
            return {
                current: null,
                oldCurrent: null,
                current_id: 0,
                mode: 'init',
                addDots: [],
                corX: 0,
                corY: 0,
                mouseOutOf: false
            };
        }
    }
</script>