<template>
    <div class="PageConfig">
        <md-tabs md-sync-route id="TabConfig" md-alignment="centered">
            <md-tab id="tab-amazon-categories" md-label="Категории Amazon" md-dynamic-height>
                <amazon-categories></amazon-categories>
            </md-tab>
            <md-tab id="tab-proxy-config" md-label="Список прокси-серверов" md-dynamic-height>
                <proxy-config></proxy-config>
            </md-tab>
            <md-tab id="tab-instagram-parse" md-label="Настройки парсинга Instagram" md-dynamic-height>
                <instagram-parse-config></instagram-parse-config>
            </md-tab>
            <md-tab id="tags-config" md-label="Настройка категорий и тегов" md-dynamic-height>
                <tags-config></tags-config>
            </md-tab>
        </md-tabs>
    </div>
</template>

<style lang="scss">
    md-tabs-canvas{ overflow: inherit; }
    #TabConfig {
        .md-tabs-content {
            overflow-y: visible !important;
            height: auto !important;
        }
    }
</style>

<script>
    import InstagramParseConfig from './Parts/InstagramParseConfig/InstagramParseConfig';
    import TagsConfig from './Parts/TagsConfig/TagsConfig';
    import ProxyConfig from './Parts/ProxyConfig/ProxyConfig';
    import AmazonCategories from './Parts/AmazonCategories/AmazonCategories';

    export default {
        components: { 
            InstagramParseConfig, TagsConfig, ProxyConfig, AmazonCategories
        },

        methods: {

        } 
    }
</script>