<template>
    <div class="OffersChoose">
        <div class="md-layout md-gutter">
            <div class="md-layout-item md-size-30">
                <v-jstree :data="tree" :allow-transition="true" :async="loadData" @item-click="itemClick">
                    <template slot-scope="_">
                        <div>
                            <i role="presentation" class="tree-icon tree-themeicon"></i>
                            <span class="mfix" v-html="_.model.text"></span> <span style="margin-top: 2px" class="mfix offer_count">({{_.model.child_count}})</span>
                        </div>
                    </template>
                </v-jstree>
            </div>
            <div class="md-layout-item md-size-70">
                <md-field md-inline class="searchBarOffers">
                    <label>Введите строку поиска и нажмите Enter</label>
                    <md-input @keyup.enter.native="onSearchEnd" v-model="filter.search"></md-input>
                </md-field>

                <!-- Кнопки пагинации -->
                <div>
                    <md-button class="md-primary" @click="prev_page()" :disabled="filter.meta.current_page <= 1">Назад</md-button>
                    <div class="paginate_fix">
                        (страница {{filter.meta.current_page}} из {{filter.meta.last_page}})
                    </div>
                    <md-button class="md-primary" @click="next_page()" :disabled="filter.meta.current_page >= filter.meta.last_page">Далее</md-button>
                </div>

                <!-- Топ списков -->
                <div style="text-align: left" v-if="toplist">
                    <div>
                        Списки элементов
                    </div>
                    <template v-for="item in toplist">
                        <a href="" @click.prevent="onSelectTopList(item.id)">{{item.name}}</a> ; 
                    </template>
                </div>
            

                <vue-good-table
                        :columns="columns"
                        :rows="rows" 
                        :pagination-options="tableOptions.paginationOptions"
                        :search-options="tableOptions.searchOptions"
                        :lineNumbers="true"
                        styleClass="vgt-table striped bordered">
                    <template slot="table-row" slot-scope="props">
                            <span v-if="props.column.field == 'id'">
                                <div class="text-right">
                                    {{props.row.offer_target_id}}
                                </div>
                            </span>
                        <span v-else-if="props.column.field == 'image'">
                                <div @click="onOpenGallery(props.row)" class="offerPreviewImage"
                                     :style="{
                                        backgroundImage: 'url('+props.row.images[0]+')'
                                    }"
                                ></div>
                            </span>
                        <span v-else-if="props.column.field == 'offer'">
                                <div class="text-left">
                                    <div class="offer-title">
                                        <a :href="props.row.url" target="_blank">
                                            <template v-if="!props.row.valid">
                                                <span class="red"><b>(Broken)</b> </span>
                                            </template>
                                            {{props.row.title}}
                                        </a>
                                    </div>
                                    <div class="offer-path">
                                        <template v-for="path_item in props.row.path">
                                            <span  v-html="path_item"></span> \
                                        </template>
                                    </div>
                                    <div class="offer-rating">
                                        <star-rating read-only :star-size='17' :increment="0.1" v-model="props.row.stars"></star-rating>
                                    </div>
                                </div> 
                            </span>
                        <span v-else-if="props.column.field == 'action'">
                                <div class="text-center">
                                    <md-button class="md-raised md-primary" v-if="!props.row.valid" disabled>Не доступно</md-button>
                                    <md-button class="md-raised md-primary" v-else @click="onSelectElement(props.row.offer_target_id)">Выбрать</md-button> 
                                    <md-button v-if="current_category"  style="margin-left: 8px;" class="md-raised md-primary" @click="onSelectLists(props.row.offer_target_id, props)">Списки</md-button>
                                </div>
                            </span>
                        <span v-else>

                            </span>
                    </template>
                </vue-good-table>

                <!-- Кнопки пагинации -->
                <div>
                    <md-button class="md-primary" @click="prev_page()" :disabled="filter.meta.current_page <= 1">Назад</md-button>
                    <div class="paginate_fix">
                        (страница {{filter.meta.current_page}} из {{filter.meta.last_page}})
                    </div>
                    <md-button class="md-primary" @click="next_page()" :disabled="filter.meta.current_page >= filter.meta.last_page">Далее</md-button>
                </div>
            </div>
        </div>

        <md-dialog :md-active.sync="showListsDialog" class="lists-elements" :md-backdrop="true">
            <md-dialog-title>Списки элементов</md-dialog-title>

            <md-content class="contentxs">
                <div class="p25">
                    Добавьте элемент в существующий список или создайте новый
                </div>

                <div>
                    <div class="md-layout" style="padding: 15px">
                        <table class="tablefull">
                            <!-- Для задания ширины -->
                            <tr>
                                <td width="100%"></td> 
                            </tr>

                            <tr>
                                <td class="text-left" colspan="2">
                                    <md-field md-inline> 
                                        <label>Добавить новый список</label>
                                        <md-input v-model="newcategory_name"></md-input>
                                    </md-field>
                                </td>
                                <td class="text-right">
                                    <md-button class="md-raised md-primary" @click="addNewCategory">Добавить</md-button>
                                </td>
                            </tr>

                            <tr class="bordered">
                                <td colspan="2" width="100%" class="text-left">Наименование</td>
                            </tr>

                            <tr class="bordered" v-for="item in listsElements" :key="item.id">
                                <td class="text-left">
                                    {{item.name}}
                                </td>
                                <td class="text-right">
                                    <a v-if="item.joined" href="" @click.prevent="UnlinkCurrentItem()">Отвязать</a>
                                    <a v-else href="" @click.prevent="LinkCurrentItem(item.id)">Привязать</a>
                                </td>
                            </tr>
                        </table> 
                    </div>
                </div>
            </md-content>

            <md-dialog-actions>
                <md-button class="md-primary" @click="showListsDialog = false">Закрыть</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</template>

<style>
    .offer-rating .vue-star-rating-rating-text {
        margin: 0px !important;
    }
</style>

<style lang="scss" scoped>
    .tablefull {
        width: 100%;
        border-collapse: collapse;
    }

    .tablefull .bordered td {
        border: 1px  solid #d4d4d4;
    }

    .p25 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .lists-elements {
        z-index: 10000000;
        min-width: 600px;
    }

    .mfix {
        margin-top: 2px;
        display: inline-block;
    }

    .offer_count {
        color: red;
    }

    .red{
        color: red;
    }

    .paginate_fix {
        display: inline-block;
        margin-top: 13px;
    }

    .OffersChoose {

    }

    .offerBottonActions {
        margin-top: 10px;
    }

    .searchBarOffers {
        margin-top: -25px;
    }

    .offer-path {
        font-size: 12px;
        color: black;
        line-height: 14px;
    }

    .text-right {
        text-align: right;
    }

    .text-center {
        text-align: center;
    }

    .text-left {
        text-align: left;
    }

    .offer-title {
        font-size: 12px;
        line-height: 14px;
    }

    .offerPreviewImage {
        background-position: center;
        background-size: cover;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border: 1px solid #dedede;
    }
</style>

<script>
    import StarRating from 'vue-star-rating';
    import VJstree from 'vue-jstree';
    import Vue from 'vue';
    import VueGoodTable from 'vue-good-table';
    import 'vue-good-table/dist/vue-good-table.css'
    Vue.use(VueGoodTable);
    import vSelect from 'vue-select'
    Vue.component('v-select', vSelect)

    export default {
        components: {
            VJstree, StarRating
        },

        mounted() {

        },

        created() {
            this.$root.$on("onAddOffer", this.onAddOffer);
        },

        methods: {
            onAddOffer(data) {
                this.currentDot = data.currentDot;
                this.filter.category_id = null;
                this.filter.dotId = this.currentDot.id;
                this.handleData();
            },

            itemClick (node) {
                var id = node.data.id;
                this.resetFilter();
                this.filter.category_id = id;
                this.current_category = id;
                this.LoadTopList();
                this.handleData();
            },

            resetFilter() {
                this.filter.search = "";
                this.filter.meta.current_page = 1;
            },

            loadData: function (oriNode, resolve) {
                var id = oriNode.data.id;
                if (id) {
                    var url = '/api/utils/navigator/get-offers-tree-node/'+id;
                } else {
                    var url = '/api/utils/navigator/get-offers-tree-node';
                }

                var self = this;
                this.$http
                .get(url)
                .then(response => {
                    resolve(response.data);
                });
            },

            onSelectElement(id) {
                this.$emit("SelectedNewOffer", id);
            },
 
            onSearchEnd() {
                this.handleData();
            },

            //Глобальная функция по обработке данных
            handleData() {
                var self = this;
                this.$http
                .post("/api/navigator/offerslist?page="+this.filter.meta.current_page, {
                        filter: this.filter
                    })
                .then(response => {
                    this.rows = response.data.data;
                    this.filter.meta = response.data.meta;
                    this.filter.links = response.data.links;
                });
            },

            //Для открытия галереи
            onOpenGallery(row) {
                if (!row.images) return;

                this.gallery_images = row.images;
                this.gallery_index = 0;
            },

            //Для предыдущих
            prev_page() {
                var prev_page_number = this.filter.meta.current_page - 1;
                if (prev_page_number <= 0) return;
                this.filter.meta.current_page = prev_page_number;
                this.handleData();
            },

            //Для следующих
            next_page() {
                var next_page_number = this.filter.meta.current_page + 1;
                if (next_page_number > this.filter.meta.last_page) return;
                this.filter.meta.current_page = next_page_number;
                this.handleData();
            },

            
            //Окно открытия списков
            onSelectLists(id) {
                this.listIdElement = id;
                this.loadListElements();
                this.showListsDialog = true;
            },


            //Загрузка
            loadListElements() {
                var category_id = this.current_category;
                var offer_id = this.listIdElement;

                var self = this;
                var url = '/api/utils/navigator/get-lists-group/'+category_id+'/'+offer_id;
                this.$http
                .get(url)
                .then(response => {
                    this.listsElements = response.data;
                });
            },


            //Добавление новой категории
            addNewCategory() {
                var self = this;
                var url = '/api/utils/navigator/add-lists-group/'+this.newcategory_name+'/'+this.current_category;
                this.$http
                .post(url, {
                    'offer_id': this.listIdElement
                })
                .then(response => {
                    this.loadListElements();
                    this.LoadTopList();
                });
            },

            //Отвязать элемент
            UnlinkCurrentItem() {
                var id = this.listIdElement;
                var self = this;
                var url = '/api/utils/navigator/unlink-lists-group/'+id;
                this.$http
                .post(url)
                .then(response => { 
                    this.loadListElements();
                    this.LoadTopList();
                });
            },


            //Привязать элемент
            LinkCurrentItem(list_id) {
                var id = this.listIdElement;
                var self = this;
                var url = '/api/utils/navigator/link-lists-group/'+id+'/'+list_id;  
                this.$http
                .post(url)
                .then(response => { 
                    this.loadListElements();
                    this.LoadTopList(); 
                });
            },

            //Загрузка элементов топ-списка
            LoadTopList() {
                var category_id = this.current_category;
                var self = this;
                var url = '/api/utils/navigator/get-toplist/'+category_id;
                this.$http
                .get(url)
                .then(response => {
                    this.toplist = response.data; 
                });
            },

            //Для выбора целого списка элементов
            onSelectTopList(id) {
                this.$emit("SelectedNewListOffer", id);
            }
        },

        data() {
            return {
                columns: [
                    {
                        label: 'Изображение',
                        field: 'image',
                        width: '100px'
                    },
                    {
                        label: 'Описание',
                        field: 'offer',
                    },
                    {
                        label: 'Действие',
                        field: 'action',
                        width: '50px'
                    },
                ],
                rows: [],
                selected_rows: [],
                tableOptions: {
                    paginationOptions: {
                        disabled: true
                    },
                    searchOptions: {
                        enabled: false
                    }
                },
                tree: [],
                asyncTree: [],
                currentDot: null,
                selects: [1, 3, 5, 7, 9, 11, 13, 15],
                filter: {
                    search: "",
                    category_id: null,
                    dotId: null,
                    links: [],
                    meta: {
                        per_page: 15,
                        current_page: 1
                    }
                },
                gallery_index: null,
                gallery_images: [],
                showListsDialog: false,
                listIdElement: null,
                listsElements: [],
                newcategory_name: null,
                current_category: null,
                toplist: []
            };
        }
    }
</script>
