<template>
    <div>
         <div class="md-layout md-gutter">
            <div class="md-layout-item item50">
                <md-content>
                    <div class="head">
                        <h2>
                            Прокси - сервера
                        </h2>
                        <p>
                            1. Каждый новый прокси сервер с новой строки<br/>
                            2. Формат валидного прокси-сервера: <b>Хост:порт</b><br/>
                            3. Не используйте лишних символов и т.д.
                        </p>
                    </div>
                    <div class="md-layout" style="padding: 15px">
                        <md-field>
                          <label>Список прокси-серверов</label>
                          <md-textarea class="textarea-big" v-model="proxies"></md-textarea>
                        </md-field>
                    </div>
                </md-content>
            </div>
             <div class="md-layout-item item50">
                <md-content>
                    <div class="head">
                        <h2>
                            User - агенты
                        </h2>
                        <p>
                            1. Каждый новый user-агент с новой строки<br/>
                            2. Используйте валидные user-агенты<br/>
                            3. Не используйте лишних символов и т.д.
                        </p>
                    </div>
                    <div class="md-layout" style="padding: 15px">
                        <md-field>
                          <label>Список user-агентов</label>
                          <md-textarea class="textarea-big" v-model="agents"></md-textarea>
                        </md-field>
                    </div>
                </md-content>
            </div>
        </div>
        <div class="text-center">
            <md-button class="md-raised md-primary" @click="save()">Сохранить</md-button>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .textarea-big {
        min-height: 600px !important;
    }
</style> 

<script>
    export default {
        components: {

        },

        mounted() {
            this.load();
        },

        methods: {
            load() {
                this.$http.get("/api/config/proxy-config/load").then(response => {
                    this.proxies = response.data.proxies;
                    this.agents = response.data.agents;
                });
            },

            save() {
                this.$http.post("/api/config/proxy-config/save", {
                    proxies: this.proxies,
                    agents: this.agents
                }).then(response => {
                    console.log(response.data);
                });
            }
        },

        data() {
            return {
                proxies: "",
                agents: ""
            }
        }
    }
</script>