<template>
    <div> 
        <md-toolbar class="md-dense md-primary">
            <template v-if="isAuthincated">
                <md-tabs class="md-primary" md-alignment="centered" style="flex: 1" md-sync-route>
                    <md-tab id="tab-navigator" md-label="Навигатор" to="/navigator"></md-tab>
                    <md-tab id="tab-stat" md-label="Статистика" to="/stat"></md-tab> 
                    <md-tab id="tab-offers-replace" md-label="Замена невалидных офферов" to="/offers-replace"></md-tab>
                    <md-tab id="tab-config" md-label="Конфигурация" to="/config"></md-tab>
                </md-tabs>
 
                <md-menu md-direction="bottom-start" :md-offset-x="-220">
                    <md-button class="md-icon-button" md-menu-trigger>
                        <md-icon>more_vert</md-icon>
                    </md-button>   

                    <md-menu-content>   
                        <!--md-button class="md-primary" @click="personalPage">Личный кабинет</md-button-->
                        <md-button class="md-primary" @click="logout">Выйти</md-button>
                    </md-menu-content>  
                </md-menu>              
            </template>
        </md-toolbar>   

        <div class="container">   
            <div class="top-spacer"></div>
            <router-view></router-view> 
        </div>
    </div>      
</template>

<style lang="scss">
    @import '../../sass/layout';
    body {
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
    }

    .onlyblock {
        display: block !important;
    }

    .iconvx.new {
        left: 17% !important;
        top: 17% !important;
        right: 9% !important;
        bottom: 10% !important;
    } 

    .tag_el {
        display: inline-block;
        background: #448aff;
        color: white;
        padding: 4px;
        font-size: 12px;
        line-height: 14px;
        border-radius: 2px;
        margin-right: 5px;
    }

    .item33 {
        display: block;
        width: 33%;
        float: left;
    }

    .nopp {
        padding: 0px !important;
    }

    .nomm {
        margin: 0px !important;
    }

    .textarea-wrapper-small {
        padding: 0px;
    }

    .textarea-small {
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-bottom: 10px !important;
        font-size: 12px !important;
        min-height: 80px !important;
    }

    .item50 {
        display: block;
        width: 50%;
        float: left;
    }

    .full {
        width: 100%; 
    }

    .separator-blue {
        height: 3px;
        background: #448aff; 
        margin-bottom: 25px;
    }

    .tinyline {
        padding-top: 0px;
        margin-top: -12xp;
        min-height: 0px;

        label {
            top: 6px !important;
        }
    }
 
    .separator15 {
        height: 15px;
    }

    table {
        &.good-table {
            border-collapse: collapse;
            width: 100%;
        }

        &.good-table {
            td {
                padding: 5px;
            }

            tr.bordered td {
                border: 1px solid #d8d8d8;
            }

            &, .full {
                width: 100%;
            }
        }
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .text-left {
        text-align: left;
    }

    .nom {
        margin: 0px;
    }

    .head {
        padding-left: 15px;
        padding-right: 15px;
    }
</style>

<script>
    export default { 
        computed: {
            isAuthincated() {
                return this.$auth.isAuthenticated();
            }
        },
 
        methods: {
            logout() {
                this.$auth.destroyToken();
                window.location.reload();
            },

            personalPage() {
                this.$router.push('/cabinet');
            }
        }
    }
</script>