<template>
    <div class="PageNavigator">
        <div class="md-layout md-gutter" id="blockwrapp">
            <div class="md-layout-item item50 item-left-50">
                <filter-status @changed="onFilterChanged"></filter-status>
                <md-content>
                    <md-toolbar class="z0 md-primary md-dense toolbar-act" md-elevation="1">
                        <md-button style="flex: 1" @click="onToggleReset()">Обновить список</md-button>
                        <md-button style="flex: 1" @click="addNewDots()">Добавить точки</md-button>
                        <md-button v-if="selectedStatus != 'TRASH'" style="flex: 1" @click="confirmDeletePost()">
                            Удалить   
                        </md-button>
                        <md-button v-else style="flex: 1" @click="confirmRestorePost()">
                            Восстановить
                        </md-button>
                    </md-toolbar>
                    <div class="md-layout" style="padding: 15px">
                        <div class="md-layout-item md-size-20 ScrollListItem">
                            <post-scroll-list :filter="filter" :reset="resetToggle"></post-scroll-list>
                        </div>
                        <div class="md-layout-item md-size-80 PostViewItem" ref="PostPreview">
                            <post-preview :currentCode="currentCode" :deleted="deleted" @changePost="onChangePost"></post-preview>
                        </div>
                    </div>
                </md-content>
            </div>
            <div class="md-layout-item item50 item-right-50">
                <md-content>
                    <md-toolbar class="md-primary md-dense z0 toolbar_logs">
                        <log-component></log-component>
                    </md-toolbar>
                    <div class="md-layout" style="padding: 15px">
                        <post-data-component :item="item"></post-data-component>
                    </div>
                </md-content>
            </div>
        </div>

        <md-dialog-confirm
                :md-active.sync="needDelete"
                md-title="Подтвердите ваше действие"
                md-content="Вы действительно хотите удалить этот пост?<br/>(Удаленные посты хранятся в специальном разделе в течение 7 дней)"
                md-confirm-text="Да, удалить"
                md-cancel-text="Отмена"
                @md-cancel="onCancelDeletePost()"
                @md-confirm="deleteThisPost()" />

        <md-snackbar md-position="center" :md-duration="2000" :md-active.sync="isRestored" md-persistent> 
            <span>Пост успешно восстановлен</span>
        </md-snackbar>
    </div>
</template>

<style lang="scss">
    #blockwrapp {
        display: block !important;
    }

    .item-left-50 {
        float: left !important;
    }

    .item-right-50 {
        float: right !important;
    }

    .item50 {
        width: 50%;
    }

    .toolbar_logs {
        min-height: 96px !important;
        padding: 0px !important;
        position: relative;
    }

    .toolbar-act {
        justify-content: space-between
    }

    .PostViewItem {
        padding-left: 2px;
    }

    .padding15 {
        padding: 15px;
    }

    .z0 {
        z-index: 0;
    }
</style>

<script>
    import LogComponent from '../../components/Elements/LogComponent/LogComponent';
    import PostDataComponent from '../../components/Elements/PostDataComponent/PostDataComponent';
    import FilterStatus from '../../components/Elements/FilterStatus';
    import PostPreview from '../../components/Elements/PostPreview/PostPreview';
    import PostScrollList from '../../components/Elements/PostScrollList/PostScrollList';

    export default {
        watch:{
            $route (to, from){
                let params = to.params;
                this.currentCode = params.id;
            }
        },
        components: {
            FilterStatus, PostPreview, PostScrollList, LogComponent, PostDataComponent
        },

        mounted() {
            
        },

        created() { 
            this.$root.$on("GlobalStatusChanged", this.onGlobalStatusChanged);
        },

        methods: {
            onGlobalStatusChanged(data) {
                this.selectedStatus = data.status;
            },

            addNewDots() {
                this.$root.$emit("editorAddModeEnable");
            },

            onFilterChanged(data) {
                this.filter = data;
            },

            onToggleReset() {
                this.resetToggle = !this.resetToggle;
            },

            deleteThisPost() {
                var params = this.$route.params;
                if (params.id) {
                    this.deleteThisPostQuery(params.id);
                }
            },

            deleteThisPostQuery(id) {
                var self = this;
                this.$http
                .post("/api/utils/navigator/delete-post/"+id)
                .then(response => {
                    console.log(response);
                    self.$root.$emit("postDeleted", id);
                    self.deleted = true;
                }).catch(function(e) {
                    console.log(e);
                    alert(e);
                });
            },

            onCancelDeletePost() {
                
            },

            confirmDeletePost() {
                this.needDelete = true;
            },

            confirmRestorePost(id) {
                var params = this.$route.params;
                if (params.id) {
                    var self = this;
                    this.$http
                    .post("/api/utils/navigator/restore-post/"+params.id)
                    .then(response => {
                        console.log(response);
                        this.isRestored = true; 
                    });
                }
            },

            onChangePost(item) {
                this.item = item;
                this.deleted = false;
            }
        },

        data() {
            return {
                filter: {
                    status: null,
                    before: 0,
                    after: 0
                },
                currentCode: null,
                resetToggle: false,
                deleted: false,
                needDelete: false,
                item: {
                    data: {
                        inout: 0
                    }
                },
                selectedStatus: 'NEW',
                isRestored: false
            };
        }
    }
</script>
