<template>
    <div class="EditorPanel">
        <table class="table-bordered tbx">
            <tr>
                <td width="30%" class="labcol">
                    <b>Позиция X: </b>
                </td>
                <td width="100%">
                    <vue-slider v-model="dot.x" :tooltip="false" :min="0.05" :max="0.9" :interval="0.02"></vue-slider>
                </td>
            </tr>
            <tr>
                <td width="30%" class="labcol">
                    <b>Позиция Y: </b>
                </td>
                <td width="100%">
                    <vue-slider v-model="dot.y" :tooltip="false" :min="0.05" :max="0.9" :interval="0.02"></vue-slider>
                </td>
            </tr>
            <tr>
                <td width="30%" class="labcol">
                    <b>Размер: </b>
                </td>
                <td width="100%">
                    <vue-slider v-model="dot.width" :tooltip="false" :min="0.05" :max="0.8" :interval="0.02"></vue-slider>
                </td>
            </tr>
            <tr>
                <td width="30%" class="labcol">
                    <b>Иконка: </b>
                </td>
                <td width="100%" class="onlylist">
                    <v-select :options="icons" v-model="dot.icon"></v-select>
                </td>
            </tr>
        </table>
    </div>
</template>

<style lang="scss">
    .onlylist .v-select .dropdown-toggle .clear {
        display: none;
    }
</style>

<script>
    import vueSlider from 'vue-slider-component';
    import vSelect from 'vue-select';

    export default {
        props: ['dot'],
        components: {
            vueSlider,
            vSelect
        },

        mounted() {

        },

        created() {

        },

        methods: {

        },

        data() {
            return {
                icons: ['lamp', 'seat', 'sofa']
            };
        }
    }
</script>