<template>
    <div>
        <div class="md-layout md-gutter">
            <div class="md-layout-item item70">
                <md-content>
                    <div class="head">
                        <h2>
                            Список категорий
                        </h2>
                    </div>
                    <div class="md-layout" style="padding: 15px">
                        <table>
                            <!-- Для задания ширины -->
                            <tr>
                                <td width="33%"></td>
                                <td width="33%"></td>
                                <td width="33%"></td>
                            </tr>

                            <tr>
                                <td class="text-left" colspan="2">
                                    <md-field md-inline>
                                        <label>Добавить новую категорию</label>
                                        <md-input v-model="newcategory.name"></md-input>
                                    </md-field>
                                </td>
                                <td class="text-right">
                                    <md-button class="md-raised md-primary" @click="addNewCategory">Добавить</md-button>
                                </td>
                            </tr>

                            <tr>
                                <td width="33%" class="text-left">Наименование</td>
                                <td width="33%" class="text-center">Порядок</td>
                                <td width="33%" class="text-right">Действия</td>
                            </tr>

                            <tr class="bordered" v-for="(item, index) in categories" :key="item.id" v-if="">
                                <td class="text-left">
                                    <template v-if="!item.editable">
                                        <md-button class="md-raised md-primary" @click="changeTags(item)">{{item.name}}</md-button>
                                    </template>
                                    <template v-else>
                                        <md-field md-inline>
                                            <md-input v-model="item.name" @change="saveCategory(item)"></md-input>
                                        </md-field>
                                    </template>
                                </td>
                                <td class="text-center">
                                    <md-field class="field-small">
                                        <label class="text-center">Сортировка (0-255)</label>
                                        <md-input v-model="item.order" type="number" :aria-valuemin="0" @change="changeCategoryOrder(item, item.order)"></md-input>
                                    </md-field>
                                </td>
                                <td class="text-right">
                                    <md-button class="md-icon-button md-raised md-primary" @click="onEditCategory(item, index)">
                                        <md-icon>edit</md-icon>
                                    </md-button>
                                    <md-button class="md-icon-button md-raised md-accent" @click="confirmDeleteCategory(item)">
                                        <md-icon>close</md-icon>
                                    </md-button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </md-content>
            </div>
            <div class="md-layout-item">
                <md-content>
                    <div class="head">
                        <p v-if="tags.length == 0">
                            Выберите категорию слева,<br>
                            для возможности редактирования связанных тегов
                        </p>
                        <h2 v-else>
                            {{current_category.name}}
                        </h2>
                    </div>
                    <div class="md-layout" style="padding: 15px">
                        <div class="full" v-if="current_category">
                            <table>
                                <!-- Для задания ширины -->
                                <tr>
                                    <td width="10%"></td>
                                    <td width="60%"></td>
                                    <td width="30%"></td>
                                </tr>

                                <tr>
                                    <td class="text-left" colspan="2">
                                        <md-field md-inline>
                                            <label>Добавить новый тег</label>
                                            <md-input v-model="newtag.name"></md-input>
                                        </md-field>
                                    </td>
                                    <td class="text-right">
                                        <md-button class="md-raised md-primary" @click="addNewTag">Добавить</md-button>
                                    </td>
                                </tr>

                                <tr v-if="tags.length > 0">
                                    <td class="text-right">ID</td>
                                    <td class="text-left">Наименование</td>
                                    <td class="text-right">Действия</td>
                                </tr>

                                <tr class="bordered" v-for="(item, index) in tags" :key="item.id">
                                    <td class="text-right">
                                        {{item.id}}
                                    </td>
                                    <td class="text-left">
                                        <template v-if="!item.editable">
                                            <md-button class="md-raised md-primary">{{item.name}}</md-button>
                                        </template>
                                        <template v-else>
                                            <md-field md-inline class="field-small field-offset">
                                                <md-input v-model="item.name" @change="saveTag(item)"></md-input>
                                            </md-field>
                                        </template>
                                    </td>
                                    <td class="text-right">
                                        <md-button class="md-icon-button md-raised md-primary" @click="onEditTag(item, index)">
                                            <md-icon>edit</md-icon>
                                        </md-button>
                                        <md-button class="md-icon-button md-raised md-accent" @click="confirmDeleteTag(item)">
                                            <md-icon>close</md-icon>
                                        </md-button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </md-content>
            </div>
        </div>

        <md-snackbar class="text-center" md-position="center" :md-duration="1000" :md-active.sync="showSnack">
            <span>{{snackMessage}}</span>
        </md-snackbar>

        <md-dialog-confirm
                :md-active.sync="showDeleteConfirmCategory"
                md-title="Внимание!"
                md-content="Если вы удалите категорию - пропадут все<br/>теги этой категории в связанных постах"
                md-confirm-text="Удалить"
                md-cancel-text="Отмена"
                @md-cancel="showDeleteConfirmCategory = false"
                @md-confirm="deleteCategory" />

        <md-dialog-confirm
                :md-active.sync="showDeleteConfirmTag"
                md-title="Внимание!"
                md-content="Если вы удалите тег, то все его связи пропадут<br/>во всех постах и элементах"
                md-confirm-text="Удалить"
                md-cancel-text="Отмена"
                @md-cancel="showDeleteConfirmTag = false"
                @md-confirm="deleteTag" />
    </div>
</template>

<style lang="scss" scoped>
    .field-offset {
        margin-top: -14px !important;
    }

    .field-small {
        margin: 0px;
    }

    .separator-head {
        margin-top: 30px;
        border-top: 2px solid #448aff;
        font-size: 16px;
        padding-top: 10px;
        text-transform: uppercase;
    }

    .f33 {
        float: left;
        width: 33%;
        display: block;
    }

    .counter-line {
        height: 30px;
        font-size: 18px;
        text-align: center;
        margin-top: 4px;
        margin-left: 3px;
        border-radius: 2px;
        color: #448aff;
        border: 0px;
        border-bottom: 1px solid #448aff;
        outline: none !important;
    }

    input[type=number] {
        width: 100%;
    }

    table, .full {
        width: 100%;
    }


    table {
       border-collapse: collapse;
    }

    table td {
        padding: 5px;
    }

    table tr.bordered td {
        border: 1px solid #d8d8d8;
    }

    .text-center {
        text-align: center;
    }

    .text-left {
        text-align: left;
    }

    .text-right {
        text-align: right;
    }

    .head {
        padding-left: 15px;
        padding-right: 15px;
    }
</style>

<script>
    let routes = {
        "load-categories": "/api/config/tags-config/load-categories",
        "tags": "/api/config/tags-config/tags",
        "category-add": "api/config/tags-config/category-add",
        "category-delete": 'api/config/tags-config/category-delete',
        "category-change-order": "api/config/tags-config/category-change-order",
        "category-save": "api/config/tags-config/category-save",
        "tag-add": "api/config/tags-config/tag-add",
        "tag-delete": 'api/config/tags-config/tag-delete',
        "tag-save": "api/config/tags-config/tag-save",
    }

    export default {
        components: {

        },

        mounted() {
            this.load();
        },

        methods: {
            load() {
                this.loadCategories();
            },

            loadCategories() {
                this.current_category = null;
                this.tags = [];
                this.$http.get(routes['load-categories'])
                .then(response => {
                    this.categories = response.data;
                });
            },

            loadTags(item) {
                this.current_category = item;
                this.$http.get(routes['tags']+'/'+item.id)
                .then(response => {
                    this.tags = response.data;
                });
            },

            addNewCategory() {
                this.$http.post(routes['category-add'], this.newcategory).then(response => {
                    this.showSnackMessage("Добавлена категория: '"+this.newcategory.name+"'");
                    this.newcategory.name = null;
                    this.loadCategories();
                });
            },

            confirmDeleteCategory(item) {
                this.toDeleteCategory = item;
                this.showDeleteConfirmCategory = true;
            },

            deleteCategory() {
                let item = this.toDeleteCategory;
                this.$http.post(routes['category-delete']+'/'+item.id).then(response => {
                    this.tags = [];
                    this.current_category = null;
                    this.showSnackMessage("Удалена категория: '"+item.name+"'");
                    this.loadCategories();
                });
            },

            confirmDeleteTag(item) {
                this.toDeleteTag = item;
                this.showDeleteConfirmTag = true;
            },

            deleteTag() {
                let item = this.toDeleteTag;
                this.$http.post(routes['tag-delete']+'/'+item.id).then(response => {
                    this.showSnackMessage("Удален тег: '"+item.name+"'");
                    this.loadTags(this.current_category);
                });
            },

            addNewTag() {
                var current_category = this.current_category;
                this.$http.post(routes['tag-add'], {
                    name: this.newtag.name,
                    category_id: current_category.id
                }).then(response => {
                    this.showSnackMessage("Добавлен новый тег: '"+this.newtag.name+"'");
                    this.newtag.name = null;
                    this.loadTags(this.current_category);
                });
            },

            changeEditable() {
                this.editable = !this.editable;
            },

            changeCategoryOrder(item, new_order) {
                this.$http.post(routes['category-change-order']+'/'+item.id, {'order': new_order}).then(response => {
                    this.showSnackMessage("Сортировка для элемента: '"+item.name+"' изменена");
                    this.loadCategories();
                });
            },

            showSnackMessage(message) {
                this.snackMessage = message;
                if (!this.showSnack) {
                    this.showSnack = true;
                }
            },

            changeTags(item) {
                this.loadTags(item);
            },

            onEditCategory(item, index) {
                if (!this.categories[index].editable) {
                    this.$set(this.categories[index], 'editable', false);
                }

                if (item.editable) {
                    item.editable = false;
                } else {
                    item.editable = true;
                }
            },

            onEditTag(item, index) {
                if (!this.tags[index].editable) {
                    this.$set(this.tags[index], 'editable', false);
                }

                if (item.editable) {
                    item.editable = false;
                } else {
                    item.editable = true;
                }
            },

            saveCategory(item) {
                this.$http.post(routes['category-save']+'/'+item.id, item).then(response => {
                    this.showSnackMessage("Категория изменена: '"+item.name+"'");
                    this.loadCategories();
                });
            },

            saveTag(item) {
                console.log(item);
                this.$http.post(routes['tag-save']+'/'+item.id, item).then(response => {
                    this.showSnackMessage("Тег изменен: '"+item.name+"'");
                    this.loadTags(this.current_category);
                });
            }
        },

        data() {
            return {
                categories: [],
                tags: [],
                current_category: null,
                newcategory: {
                    name: null,
                },
                newtag: {
                    name: null
                },
                showSnack: false,
                snackMessage: null,
                toDeleteCategory: null,
                showDeleteConfirmCategory: false,
                toDeleteTag: null,
                showDeleteConfirmTag: false
            }
        }
    }
</script>