<template>
    <div class="OffersPreviewList">
        <md-list class="md-triple-line md-dense">
            <template v-for="(offer, index) in offers">
                <md-divider class="md-inset" v-if="index != 0"></md-divider>
                <offer-preview-one :offer="offer"></offer-preview-one>
            </template>
        </md-list>
    </div>
</template>

<style>
    .OffersPreviewList > *{
        padding: 0px !important;
    }
</style>

<script>
    import OfferPreviewOne from '../OfferPreviewOne/OfferPreviewOne';
    export default {
        props: ['links', 'seeAll', 'postId', 'dotId'],
        components: {
            OfferPreviewOne
        },
        mounted() {

        },

        created() {
            this.$root.$on("initItemLinks", this.onInitItem);
            this.$root.$on("onEditorClick", this.onInitItem);
            this.$root.$on("onTagSelectClick", this.onTagSelectLink);
            this.$root.$on("onAfterAddNewOffer", this.onAfterAddNewOffer);
        },

        methods: {
            onInitItem(data) {
                var self = this;
                this.$http
                .get("/api/navigator/post-offers/"+self.postId)
                .then(response => {
                    console.log(response.data);
                    self.offers = response.data;
                }).catch(function(e) {
                    console.log(e);
                    alert(e);
                });
            },

            onAfterAddNewOffer(data) {
                var self = this;
                this.$http
                    .get("/api/navigator/post-offers-dot/"+data.id)
                    .then(response => {
                        self.offers = response.data;
                    }).catch(function(e) {
                    console.log(e);
                    alert(e);
                });
            },

            onTagSelectLink(data) {
                var self = this;
                this.$http
                    .get("/api/navigator/post-offers-dot/"+data.current_id)
                    .then(response => {
                        self.offers = response.data;
                    });
            }
        },

        data() {
            return {
                total_links: [],
                offers: []
            };
        }
    }
</script>
