<template>
    <div>
        <vue-datepicker-local
                v-model="data.range"
                :local="config.datepicker"
                rangeSeparator=" - "
                format="DD.MM.YYYY"
                @confirm="changeRange"
                :showButtons="true"
                :disabled-date="disabledDate"
        />
    </div>
</template>

<style lang="scss">
    .datepicker-range .datepicker-popup {
        width: 420px !important;
        margin-top: 10px;
    }

    .datepicker-range .calendar-date.calendar-date-selected {
        color: white !important;
    }

    .datepicker:before {
        display: none !important;
    }

    .datepicker-range {
        min-width: 100% !important;
    }

    .datepicker-range input {
        padding-right: 12px !important;
        text-align: center;
        height: 36px !important;
        border-radius: 2px;
        font-size: 18px !important;
        border: 0px !important;
    }

    .datepicker-range .calendar-week {
        border-bottom: 1px solid;
    }
</style>

<script>
    import VueDatepickerLocal from 'vue-datepicker-local'
    var moment = require('moment');

    export default {
        components: {
            VueDatepickerLocal
        },

        created() {
            this.fetchStartRange();
        },

        methods: {
            fetchStartRange() {
                this.$http
                .get('/api/utils/navigator/start-range')
                .then(response => {
                    var data = response.data;
                    data.range[0] = moment.unix(data.range[0]);
                    data.range[1] = moment.unix(data.range[1]);
                    this.data = data;
                    this.changeRange();
                }).catch(function(e) {
                    console.log(e);
                    alert(e);
                });
            },

            prepareData(data) {
                var before_str = data[0];
                var after_str = data[1];

                return {
                    before: moment(before_str, "ddd MMM DD YYYY").unix(),
                    after: moment(after_str, "ddd MMM DD YYYY").unix()
                }
            },

            changeRange() {
                if (this.data.range[0] && this.data.range[1]) {
                    var data = this.prepareData(this.data.range);
                    this.$emit('changed', data);
                }
            },

            disabledDate (time) {
                var unix = moment(time).unix();
                if (unix < this.data.minDate || unix > this.data.maxDate) {
                    return true;
                } else {
                    return false;
                }
            }
        },

        data() {
            return {
                config: {
                    datepicker: {
                        dow: 1,
                        monthsHead: 'Январь_Февраль_Март_Апрель_Май_Июнь_Июль_Август_Сентябрь_Октябрь_Ноябрь_Декабрь'.split('_'), // months of head
                        months: 'Янв_Фев_Мар_Апр_Май_Июн_Июл_Авг_Сент_Окт_Ноя_Дек'.split('_'),
                        weeks: 'Пн_Вт_Ср_Чт_Пт_Сб_Вс'.split('_'), // weeks,
                        cancelTip: 'Отмена',
                        submitTip: 'Применить'
                    }
                },
                data: {
                    range: [0, 0],
                    minDate: 0,
                    maxDate: 0
                }
            };
        }
    }
</script>