<template>
    <div class="FilterStatus">
        <md-toolbar class="ns md-primary md-dense navigator-filter-toolbar">
            <div class="fixitem fixitem-left">
                <list-picker @changed="onStatusChange"></list-picker>
            </div>
            <div class="fixitem fixitem-right">
                <date-picker  @changed="onFilterRangeChange"></date-picker>
            </div>
        </md-toolbar>
    </div>
</template>

<style lang="scss">
    .FilterStatus .fixitem {
        flex: 1;
        padding: 6px;
    }

    .FilterStatus .fixitem-left {
        padding-right: 3px;
    }

    .FilterStatus .fixitem-right {
        padding-left: 3px;
    }

    .FilterStatus .navigator-filter-toolbar {
        padding: 0px;
    }

    .ns {
        box-shadow: none !important;
    }
</style>

<script>
    import ListPicker from './ListPicker';
    import DatePicker from './DatePicker';
    var moment = require('moment');

    export default {
        components: {
            DatePicker, ListPicker
        },

        methods: {
            onFilterRangeChange(data) {
                if (data.before == this.filter.before && data.after == this.filter.after) return;
                this.filter.before = data.before;
                this.filter.after = data.after;
                this.updateQuery();
            },

            onStatusChange(data) {
                if (data == this.filter.status) return;
                this.filter.status = data;
                this.updateQuery();
            },

            updateQuery() {
                var filter = this.filter;
                if (filter.after && filter.before && filter.status) {
                    this.$emit("changed", this.filter);
                    this.$root.$emit("GlobalStatusChanged", this.filter); 
                }
            }
        },

        data() {
            return {
                filter: {
                    before: null,
                    after: null,
                    status: null
                },
            };
        }
    }
</script>