<template>
    <div class="ListPicker">
        <v-select
                v-model="selected"
                :options="statuses"
                @input="select"
                maxHeight="400px"
                :searchable="false"
                placeholder="Выберите статус"
                :filterable="false"
                label="label"
        >
            <template slot-scope="option" slot="option">
                {{ option.label }} <span class="filcount">{{option.stat}}</span>
            </template>
        </v-select>
    </div>
</template>

<style lang="scss">
    .ListPicker .dropdown-toggle .clear {
        display: none !important;
    }

    .ListPicker .dropdown-toggle {
        background: white;
        border: none;
        border-radius: 2px;
        height: 36px;
    }

    .ListPicker .dropdown-menu {
        overflow: hidden;
    }

    .ListPicker .selected-tag {
        font-size: 18px;
        color: #666;
    }

    .filcount {
        display: inline-block;
        margin-left: 5px;
        float: right;
        font-weight: bold;
    }
</style>

<script>
    import vSelect from 'vue-select';
    export default {
        components: {
            vSelect
        },

        mounted() {
            
        },

        created() {
            this.fetchStatuses(); 
            this.$root.$on("GlobalStatusChanged", this.filterChanged); 
        },

        methods: {
            fetchStatuses() {
                this.$http
                .get('/api/utils/navigator/statuses', {
                    params: this.filter
                })
                .then(response => {
                    this.statuses = response.data;
                    if (!this.selected) { 
                        this.selected = this.statuses[0];
                    }
                }).catch(function(e) {
                    console.log(e);
                    alert(e);
                });
            },

            select() {
                if (this.selected) {
                    this.$emit('changed', this.selected.value);
                }
            },

            filterChanged(filter) {
                this.filter = filter;
                this.fetchStatuses();
            }
        },

        data() {
            return {
                statuses: [],
                selected: null,
                filter: {}
            };
        }
    }
</script>