<template>
        <div>
            <div class="md-layout md-gutter onlyblock">
                <div class="md-layout-item item50">
                    <md-content>
                        <div class="head">
                            <h2>
                                Теги первичного отбора
                            </h2>
                        </div>
                        <div class="md-layout" style="padding: 15px">
                            <div class="full">
                                <table class="good-table">
                                    <!-- Для задания ширины -->
                                    <tr>
                                        <td width="60%"></td>
                                        <td width="40%"></td>
                                    </tr>

                                    <template>
                                        <tr>
                                            <td class="text-left"><b>Добавить новый тег:</b></td>
                                            <td class="text-center">Действия</td>
                                        </tr>

                                        <tr class="bordered">
                                            <td class="text-left">
                                                <md-field class="nom tinyline" md-inline>
                                                    <label>Тег</label>
                                                    <md-input v-model="newtag.first"></md-input>
                                                </md-field>
                                            </td>
                                            <td class="text-center">
                                                <md-button class="md-raised md-primary" @click="addTagFirst">Добавить</md-button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">
                                                <div class="separator15"></div>
                                            </td>
                                        </tr>
                                    </template>

                                    <tr>
                                        <td colspan="2" class="nopp">
                                            <div class="separator-blue"></div>
                                        </td>
                                    </tr>


                                    <template v-for="(tag, index) in tagsFirst">
                                        <tr class="bordered">
                                            <td class="text-left">
                                                <md-field class="nom tinyline" md-inline>
                                                    <label>Тег</label>
                                                    <md-input v-model="tag.name" :readonly="!tag.editable" @change="changeTag(tag, 0)"></md-input>
                                                </md-field>
                                            </td>
                                            <td class="text-center">
                                                <md-button class="md-icon-button md-raised" :class="{'md-primary': tag.editable}" @click="editTag(tag, index, 0)">
                                                    <md-icon>edit</md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button md-raised md-accent" @click="confirmDeleteTag(tag, 0)">
                                                    <md-icon>close</md-icon>
                                                </md-button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">
                                                <div class="separator15"></div>
                                            </td>
                                        </tr>
                                    </template>
                                </table>
                            </div>
                        </div>
                    </md-content>
                </div>
                <div class="md-layout-item item50">
                    <md-content>
                        <div class="head">
                            <h2>
                                Теги вторичного отбора
                            </h2>
                        </div>
                        <div class="md-layout" style="padding: 15px">
                            <div class="full">
                                <table class="good-table">
                                    <!-- Для задания ширины -->
                                    <tr>
                                        <td width="60%"></td>
                                        <td width="40%"></td>
                                    </tr>

                                    <template>
                                        <tr>
                                            <td class="text-left"><b>Добавить новый тег:</b></td>
                                            <td class="text-center">Действия</td>
                                        </tr>

                                        <tr class="bordered">
                                            <td class="text-left">
                                                <md-field class="nom tinyline" md-inline>
                                                    <label>Тег</label>
                                                    <md-input v-model="newtag.second"></md-input>
                                                </md-field>
                                            </td>
                                            <td class="text-center">
                                                <md-button class="md-raised md-primary" @click="addTagSecond">Добавить</md-button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">
                                                <div class="separator15"></div>
                                            </td>
                                        </tr>
                                    </template>

                                    <tr>
                                        <td colspan="2" class="nopp">
                                            <div class="separator-blue"></div>
                                        </td>
                                    </tr>


                                    <template v-for="(tag, index) in tagsSecond">
                                        <tr class="bordered">
                                            <td class="text-left">
                                                <md-field class="nom tinyline" md-inline>
                                                    <label>Тег</label>
                                                    <md-input v-model="tag.name" :readonly="!tag.editable" @change="changeTag(tag, 0)"></md-input>
                                                </md-field>
                                            </td>
                                            <td class="text-center">
                                                <md-button class="md-icon-button md-raised" :class="{'md-primary': tag.editable}" @click="editTag(tag, index, 0)">
                                                    <md-icon>edit</md-icon>
                                                </md-button>
                                                <md-button class="md-icon-button md-raised md-accent" @click="confirmDeleteTag(tag, 1)">
                                                    <md-icon>close</md-icon>
                                                </md-button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">
                                                <div class="separator15"></div>
                                            </td>
                                        </tr>
                                    </template>
                                </table>
                            </div>
                        </div>
                    </md-content>
                </div>
            </div>

            <md-dialog-alert
                    :md-active.sync="showMessage"
                    :md-content="messageText"
                    md-confirm-text="ОК" />


            <md-dialog-confirm
                    :md-active.sync="showConfirmDeleteTag"
                    md-title="Внимание!"
                    md-content="Вы действительно хотите удалить<br/>выбранный тег?"
                    md-confirm-text="Удалить"
                    md-cancel-text="Отмена"
                    @md-cancel="showConfirmDeleteTag = false"
                    @md-confirm="afterConfirmDeleteTag" />

            <md-snackbar class="text-center" md-position="center" :md-duration="1000" :md-active.sync="showSnack">
                <span>{{snackMessage}}</span>
            </md-snackbar>
        </div>
</template>

<script>
    var routes = {
        'load-tags': '/api/config/instagram-config/load-tags',
        'add-tag': '/api/config/instagram-config/add-tag',
        'delete-tag': '/api/config/instagram-config/delete-tag',
        'change-tag': '/api/config/instagram-config/change-tag',
    };

    export default {
        mounted() {
            this.loadTagsFirst();
            this.loadTagsSecond();
        },

        methods: {
            loadTagsFirst() {
                this.$http.get(routes['load-tags']+'/'+0).then(response => {
                    this.tagsFirst = response.data;
                    this.newtag.first = null;
                });
            },

            loadTagsSecond() {
                this.$http.get(routes['load-tags']+'/'+1).then(response => {
                    this.tagsSecond = response.data;
                    this.newtag.second = null;
                });
            },

            addTagFirst() {
                var tag = this.newtag.first;
                if (!tag) {
                    this.message("Поле не может быть пустым");
                    return;
                }

                var data = {
                    name: tag,
                    type: 0
                }

                this.$http.post(routes['add-tag'], data).then(response => {
                    this.loadTagsFirst();
                    this.showSnackMessage("Первичный тег "+tag+' успешно добавлен');
                    this.newtag.first = null;
                });
            },

            addTagSecond() {
                var tag = this.newtag.second;
                if (!tag) {
                    this.message("Поле не может быть пустым");
                    return;
                }

                var data = {
                    name: tag,
                    type: 1
                }

                this.$http.post(routes['add-tag'], data).then(response => {
                    this.loadTagsSecond();
                    this.showSnackMessage("Вторичный тег "+tag+' успешно добавлен');
                    this.newtag.second = null;
                });
            },

            confirmDeleteTag(item, type) {
                this.tagToDelete = item;
                this.tagToDeleteType = type;
                this.showConfirmDeleteTag = true;
            },

            afterConfirmDeleteTag() {
                let item = this.tagToDelete;
                let type = this.tagToDeleteType;
                let callback = null;
                if (type == 0) {
                    callback = this.loadTagsFirst;
                } else if (type == 1) {
                    callback = this.loadTagsSecond;
                }

                this.deleteTag(item, callback);
            },


            editTag(item, index, type) {
                let items = [];
                if (type == 0) {
                    items = this.tagsFirst;
                } else if (type == 1) {
                    items = this.tagsSecond;
                }

                if (!items[index].editable) {
                    this.$set(items[index], 'editable', false);
                }

                if (item.editable) {
                    item.editable = false;
                } else {
                    item.editable = true;
                }
            },


            changeTag(item, type) {
                let callback = null;
                if (type == 0) {
                    callback = this.loadTagsFirst;
                } else {
                    callback = this.loadTagsFirst;
                }

                //Запрос на изменение
                this.$http.post(routes['change-tag']+'/'+item.id, item).then(response => {
                    this.showSnackMessage("Тег "+item.name+' успешно изменен');
                    callback();
                });
            },


            deleteTag(item, callback) {
                this.$http.post(routes['delete-tag']+'/'+item.id).then(response => {
                    this.showSnackMessage("Тег "+item.name+' успешно удален');
                    callback();
                });
            },

            message(message) {
                this.messageText = message;
                this.showMessage = true;
            },

            showSnackMessage(message) {
                this.snackMessage = message;
                this.showSnack = true;
            },
        },

        data() {
            return {
                showConfirmDeleteTag: false,
                newtag: {
                    first: null,
                    second: null
                },
                tagToDelete: null,
                tagToDeleteType: null,
                tagsFirst: [],
                tagsSecond: [],
                showMessage: false,
                messageText: null,
                snackMessage: null,
                showSnack: false
            }
        }
    }
</script>