<template>
     <div>
        <div class="md-layout md-gutter">
            <div class="md-layout-item item30">
                <md-content>
                    <md-toolbar class="md-primary md-dense">
                        <h3 class="md-title">Фильтр</h3>
                    </md-toolbar>
                    <div>
                        <div class="md-layout md-gutter" style="padding: 15px; padding-bottom: 0px;">
                            <div class="md-layout-item">
                                <md-field>
                                    <label for="movie">Пользователь</label>
                                    <md-select v-model="filter.user" name="user" id="user">
                                        <md-option value="None">Не выбрано</md-option>
                                        <md-option v-for="option in status.users" :value="option" :key="option">{{option}}</md-option>
                                    </md-select>
                                </md-field>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div style="padding: 15px; padding-top: 0px;">
                            <v-date-picker 
                                :attributes='attrs' mode='range'
                                v-model='filter.date' 
                                is-double-paned 
                            >
                                <md-field slot-scope='props'>
                                    <label>Период</label>
                                    <md-input v-model="props.inputValue"></md-input>
                                </md-field>
                            </v-date-picker>

                            <div class="fixcalendar"></div> 
                        </div>
                    </div>
                    <div class="text-center">
                        <md-button class="md-primary" @click="handle()">Применить</md-button>
                    </div>
                    <div class="separator30"></div>
                </md-content>
            </div>

            <div class="md-layout-item item30">
                <md-content>
                    <md-toolbar class="md-primary md-dense">
                        <h3 class="md-title">Сводка</h3>
                    </md-toolbar>
                    <div class="md-layout" style="padding: 15px">
                        <div v-if="result.success">
                            <p>
                                За выбранный период пользователем<br>
                                <b>{{result.data.user}}</b>
                                было сделано:<br>
                                <b>{{result.data.count}}</b> постов 
                            </p>
                        </div>
                    </div>
                </md-content>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
    .fixcalendar {
        min-height: 260px;
    }

    .popover-origin, .popover-content-wrapper, .c-pane-container {
        width: 100% !important;
    }

    .md-menu-content {
        z-index: 100;
    }

    .separator30 {
        height: 30px;
    }

    .c-week .popover-origin {
        display: none !important; 
    }
</style>

<script> 
    import moment from 'moment';
    export default { 
        computed: {
       
        },

        mounted() {
            this.loadStat();
        },

        methods: {
            loadStat() {
                var self = this;
                this.$http
                .get("/api/stat/status")
                .then(response => {
                    this.status = response.data;
                    this.filter.date.start = moment.unix(this.status.date.start);
                    this.filter.date.end = moment.unix(this.status.date.end);
                });
            },

            //Обработка статусов
            handle() { 
                //Формат фильтра
                var filter_copy = JSON.parse(JSON.stringify(this.filter));
                filter_copy.date.start = moment(filter_copy.date.start).unix();
                filter_copy.date.end = moment(filter_copy.date.end).unix();

                this.$http
                .post("/api/stat/handle", filter_copy)
                .then(response => {
                    var data = response.data;
                    if (!data.success) {
                        alert('Сначала выберите пользователя');
                        return;
                    }
                    this.result = response.data;
                });
            }
        },

        data() {
            return {
                filter: {
                    user: 'None',
                    status: 'None',
                    date: {
                        start: null,
                        end: null
                    }
                },
                attrs: [],
                status: {
                    users: [],
                    statuses: [],
                    date: {
                        start: null,
                        end: null
                    }
                },
                result: []
            }
        }
    }
</script>