<template>
	<div id="PageOfferReplace">
		 <div class="md-layout md-gutter">
            <div class="md-layout-item">
                <md-content>
                    <md-toolbar class="z0 md-primary md-dense toolbar-act" md-elevation="1">
                    	<h3 class="md-title">Список невалидных офферов</h3>  
                    </md-toolbar>
                    <div class="md-layout" style="padding: 15px">
                        <div class="md-layout">
						    <div class="md-layout-item pd-offer md-size-33" v-if="list" v-for="item in list"> 
						    	<div class="iavatar" :style="{
                                    backgroundImage: 'url('+item.images[0]+')'
                                }"></div> 
						    	<div class="idata">
						    		 <div class="offer-title">
                                        <a :href="item.url" target="_blank">
                                            {{item.title}}
                                        </a>
                                    </div>
                                    <div class="offer-path">
                                        <template v-for="path_item in item.path">
                                            <span  v-html="path_item"></span> \
                                        </template> 
                                    </div>
                                    <span class="istatus">{{ item.status }}</span>

									<div class="text-right">
	                                    <md-button class="md-dense md-primary" @click="deactivate(item)">Отключить</md-button>
	                                    <md-button class="md-dense md-raised md-primary" @click="replace(item)">Заменить</md-button>
                                	</div>
						    	</div>
						    </div>
						    <div class="md-layout-item" v-else>
						    	Невалидных офферов нет 
						    </div>
						  </div>
                    </div>
                </md-content>
            </div>
        </div>

        <sweet-modal ref="modalOffer" modal-theme="light" overlay-theme="dark" width="80%">
            <offers-choose @SelectedNewOffer="offerNewSelected"></offers-choose>
        </sweet-modal>

        <md-dialog-confirm
                :md-active.sync="needDeactivate"
                md-title="Деактивировать оффер?"
                md-content="Он отвяжется ото всех существующих постов"
                md-confirm-text="Да, деактивировать"
                md-cancel-text="Отмена"
                @md-cancel="needDeactivate = false"
                @md-confirm="deactivateConfirm()" />
	</div> 
</template> 

<style lang="scss" scoped>
	.iavatar {
		background-position: center;
	    background-size: cover;
	    width: 100px;
	    height: 100px;
	    margin: 0 auto;
	    border: 1px solid #dedede;
	    float: left;
	    margin-right: 10px;
	}

	.text-right {
		text-align: right;
	}

	.offer-title {
		font-size: 12px;
    	line-height: 12px;
    	overflow: hidden;
    	max-height: 24px;
	}

	.offer-path {
		font-size: 10px;
	    line-height: 10px;
	    overflow: hidden;
    	max-height: 24px;
    	margin-bottom: 5px; 
	}

	.istatus {
		color: red;
	}

	.pd-offer {
		padding-right: 10px;
	}

	.idata {
		float: left;
	    width: calc(100% - 110px);
	}
</style>

<script>
	import OffersChoose from '../../components/Elements/OffersChoose/OffersChoose';
	import { SweetModal } from 'sweet-modal-vue';

	export default {
		components: {
			SweetModal, OffersChoose
		},

		mounted() {
			this.load();
		},

		methods: {
			load() {
                this.$http
                .get("/api/utils/navigator/get-invalid-offers")
                .then(response => { 
                    this.list = response.data;
                });
			},

			deactivate(item) {
				this.deactivateItem = item;
				this.needDeactivate = true;
			},

			deactivateConfirm() {
				var item = this.deactivateItem;
				this.$http
                .post("/api/utils/navigator/deactivate-offer/"+item.id)
                .then(response => { 
                    this.load();
                });
			},

			offerNewSelected(id) {
				var before = this.replaceItem.id;
				var after = id;

				this.$http
                .post("/api/utils/navigator/replace-offer/"+before+'/'+after)
                .then(response => { 
                    this.$refs.modalOffer.close();
                    this.load();
                });
			},

			replace(item) {
				this.replaceItem = item;
				this.$refs.modalOffer.open();
			}
		},

		data() {
			return {
				list: [],
				replaceItem: null,
				deactivateItem: null,
				needDeactivate: false
			}
		}
	}
</script> 