<template>
    <div>
        <md-list-item :class="{'notValidOffer': !offer.valid}">
            <md-avatar>
                <img :src="thumb" class="offer_previewimg">
            </md-avatar>

            <div class="md-list-item-text">
                <span></span>
                <span><a :href="offer.url" target="_BLANK">{{offer.title}}</a></span>
                <p class="offer-subtitle" v-html="path"></p>
            </div>
            <md-button class="md-icon-button md-list-action" @click="unlinkOffer()">
                <md-icon class="md-primary">cancel</md-icon>
            </md-button>
        </md-list-item>

        <md-dialog-confirm
                :md-active.sync="showConfirm"
                md-title="Подтвердите отвязку оффера"
                md-content="Вы дейсвительно хотите отвязать выбранный оффер?"
                md-confirm-text="Да, отвязать"
                md-cancel-text="Отмена"
                @md-cancel="onCancelUnlink"
                @md-confirm="deleteOffer" />
    </div>
</template>

<style lang="scss" scoped>
    .notValidOffer {
        box-shadow: 0px 0px 0px 1px #ffdbdb;
        border: 0px;
        background: #ffe9e9;
    }
</style>

<script>
    export default {
        props: ['offer'],
        components: {

        },
        mounted() {

        },

        created() {

        },

        computed: {
            thumb: function() {
                var data = JSON.parse(this.offer.thumbs);
                return data[0];
            },

            path: function() {
                var path = this.offer.path;
                path = JSON.parse(path);
                return path.join(" \\ ");
            }
        },

        methods: {
            unlinkOffer() {
                this.showConfirm = true;
            },

            onCancelUnlink() {
                this.showConfirm = false;
            },

            deleteOffer() {
                var self = this;
                this.$http
                .post("/api/utils/navigator/delete-offerlink/"+this.offer.offerlink_id)
                .then(response => {
                    console.log(response);
                    this.mode = 'init';
                    this.$root.$emit("offerlinkDeleted");
                }).catch(function(e) {
                    console.log(e);
                    alert(e);
                });
            }
        },

        data() {
            return {
                showConfirm: false
            };
        }
    }
</script>