<template>
    <div class="tags_area">
        <table class="table-bordered table-data">
            <template v-if="item.linkedtags" v-for="taggroup in item.linkedtags">
                <tr>
                    <td width="18%" class="labcol"><b>{{taggroup.name}}</b></td>
                    <td width="80%" class="tagcol">
                        <v-select v-model="taggroup.tags" multiple :options="item.tagsAvailable['c'+taggroup.id]"></v-select>
                    </td>
                </tr>
            </template>
        </table>

        <div class="separator"></div>

        <table class="table-bordered table-data">
            <tr>
                <td width="18%" class="labcol"><b>In/Out</b></td>
                <td width="80%" class="tagcol lpad pb0">
                    <md-radio v-model="item.data.inout" class="chcck md-primary" :value="1">Interior</md-radio>
                    <md-radio v-model="item.data.inout" class="chcck md-primary" :value="2">Exterior</md-radio>
                    <md-radio v-model="item.data.inout" class="chcck md-primary" :value="3">Both</md-radio>
                    <md-radio v-model="item.data.inout" class="chcck md-primary" :value="0">None</md-radio>
                </td>
            </tr>
            <tr>
                <td width="18%" class="labcol"><b>ORIGINAL TEXT</b></td>
                <td width="80%" class="tagcol lpad">
                    <md-field class="nomm">
                        <md-textarea class="small-area" v-model="item.data.caption" readonly></md-textarea>
                    </md-field>
                </td>
            </tr>
            <tr>
                <td width="18%" class="labcol"><b>H1</b></td>
                <td width="80%" class="tagcol lpad">
                    <md-field class="nomm">
                        <at-ta at="#" :members="suggestions" name-key="label">
                            <template slot="item" slot-scope="s">
                                <span><b>{{s.item.name}}</b> - {{s.item.label}}</span>
                            </template>
                            <md-textarea class="small-area" v-model="item.data.current_title" ref="current_title"></md-textarea>
                        </at-ta>
                    </md-field>
                </td>
            </tr>
            <tr>
                <td width="18%" class="labcol"><b>Text</b></td>
                <td width="80%" class="tagcol lpad">
                    <div class="symcount" :class="{
                        'redcount': symcount < 250,
                        'greencount': symcount >= 250
                    }">
                        chars: <b>{{symcount}}</b> of 250 (minimally)
                    </div>
                    <md-field class="nomm">
                        <at-ta at="#" :members="suggestions" name-key="label">
                            <template slot="item" slot-scope="s">
                                <span><b>{{s.item.name}}</b> - {{s.item.label}}</span>
                            </template>
                            <md-textarea class="small-area area-desc" v-model="item.data.text" ref="text"></md-textarea>
                        </at-ta>
                    </md-field>
                </td>
            </tr>

            <!--
            <tr>
                <td width="18%" class="labcol"><b>Tags</b></td>
                <td width="80%" class="tagcol">
                    <v-select v-model="item.data.current_tags" multiple :options="suggestions"></v-select>
                </td>
            </tr>
            <tr>
                <td width="18%" class="labcol"><b>Comments</b></td>
                <td width="80%" class="tagcol lpad">
                    Комментариев нет
                </td>
            </tr>
            -->
        </table>
        <div class="text-center buttonsbottom">
            <md-button class="md-raised md-primary bigbutton" @click="saveData" v-if="symcount >= 250">Сохранить</md-button>
            <div v-else>There are not enough characters in the description to save. The save button will appear after filling in the description.</div>
        </div>

        <md-dialog :md-active.sync="successSaved">
            <md-dialog-title class="text-center">Успешно сохранено!</md-dialog-title>

            <md-dialog-actions>
                <md-button class="md-primary btn-center" @click="successSaved = false">Закрыть</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</template>

<style lang="scss">
    .symcount {
        font-size: 12px;
    }

    .redcount {
        color: red;
    }

    .greencount {
        color: green;
    }

    .atwho-ul {
        max-height: 200px;
    }

    .atwho-view {
        border-radius: 2px;
    }

    .atwho-cur {
        background: #448aff;
    }

    .text-center {
        text-align: center;
    }

    .btn-center {
        margin: 0 auto !important;
    }

    .buttonsbottom {
        margin-top: 20px;
    }

    .bigbutton {
        height: 60px;
        width: 250px;
        font-size: 22px;
    }

    .atwho-wrap {
        width: 100% !important;
    }

    .atwho-wrap textarea {
        width: 100% !important;
    }

    .area-desc {
        min-height: 150px !important; 
    }
</style>

<style lang="scss">
    .separator {
        height: 15px;
    }

    .md-field.md-theme-default.md-has-textarea:not(.md-autogrow):after {
        border-color: rgba(0, 0, 0, 0.12);
    }

    .nomm {
        margin: 0px !important;
        padding: 0px;
    }

    .nomm .md-count {
        display: none;
    }

    .chcck {
        margin-top: -1px;
        margin-bottom: -2px;
    }

    .lpad {
        padding: 5px;
    }

    .small-area {
        font-size: 13px !important;
    }

    .pb0 {
        padding-bottom: 0px;
    }

    .tags_area {
        width: 100%;
    }

    .table-data .labcol {
        padding: 5px;
        text-align: right;
        text-transform: uppercase;
        color: #525252;
        background-color: rgba(0, 0, 0, 0.03);
        vertical-align: top;
    }

    .table-data {
        border-collapse: collapse;
        width: 100%;
    }

    .table-data .v-select .selected-tag {
        border-radius: 2px;
        color: white;
        background: #448aff;
        border: none;
        font-size: 12px;
    }

    .tagcol .v-select .selected-tag .close {
        margin-top: 2px;
        display: block;
        float: right;
        margin-left: 3px;
        margin-right: 2px;
    }

    .tagcol .v-select.searchable .dropdown-toggle {
        border: none;
        border-radius: 0px;
    }

    .table-data tr td {
        border: 1px solid #e0e0e0;
    }
</style>

<script>
    import AtTa from 'vue-at/dist/vue-at-textarea';
    import Vue from 'vue';
    import vSelect from 'vue-select';
    Vue.component('v-select', vSelect);

    export default {
        props: ['item'],
        components: {
            AtTa
        },
        mounted() {
            this.current_title_ref = this.$refs.current_title;
            this.text_ref = this.$refs.text;
        },

        methods: {
            saveData() {
                this.fixValues();

                var self = this;
                this.$http
                .post('/api/navigator/post-save-data/'+this.item.data.code, {
                    "linkedtags": this.item.linkedtags,
                    "comments": this.item.comments,
                    "title": this.item.data.current_title,
                    "text": this.item.data.text,
                    "current_tags": this.item.data.current_tags,
                    "inout": this.item.data.inout
                })
                .then(response => {
                    this.successSaved = true;
                    self.$root.$emit("onPostSaved", {});
                    console.log(response.data);
                }).catch(function(e) {
                    console.log(e);
                    alert(e);
                });
            },

            fixValues() {
                this.item.data.current_title = this.current_title_ref.$el.value;
                this.item.data.text = this.text_ref.$el.value;
            }
        },

        computed: {
            //Подсказки при вводе подсказки
            suggestions: function() {
                if (typeof this.item.linkedtags == "undefined") return [];
                var total = [];
                var all = this.item.linkedtags;
                var count = all.length;
                for (var i = 0; i < count; i++) {
                    var current = all[i];
                    var name = current["name"];
                    var tags = current["tags"];

                    var tags_count = tags.length;
                    for (var j = 0; j < tags_count; j++) {
                        tags[j]["name"] = name;
                    }

                    total = total.concat(tags);
                }

                return total;
            },

            symcount: function() {
                var data = this.item.data.text;
                if (typeof data == 'undefined' || data == null) return 0;
                var length = data.length;
                return length;
            }
        },

        data() {
            return {
                current_title_ref: null,
                text_ref: null,
                successSaved: false
            };
        }
    }
</script>