<template>
    <div>
        <div class="logarea">
            <div class="PreviewLogs" v-if="logs.length > 0">
                <div>
                    <table class="log-table">
                        <tr v-for="status in preview">
                            <td width="75px" class="gr">
                                {{formatUnix(status.created)}}
                            </td>
                            <td width="40px" class="gr">
                                {{formatUnixTime(status.created)}}
                            </td>
                            <td width="60px" class="rd">
                                {{status.username}}
                            </td>
                            <td v-html="getStatusMessage(status.status_id, status.data)"></td> 
                        </tr>
                    </table>
                </div>
                <div class="seeFullLogs" v-if="logs.length > max_total">
                    <a @click="showAllLogs()">Посмотреть все логи</a>
                </div>
            </div>
            <div class="LogsEmpty" v-if="logs.length == 0">
                Логов нет
            </div>
        </div>

        <md-dialog :md-active.sync="showLogsWindow">
            <md-dialog-title>Список логов</md-dialog-title>

            <md-content class="allogs">
                <table class="log-table">
                    <tr v-for="status in preview">
                        <td width="75px" class="gr">
                            {{status.created | moment("DD.MM.Y")}}
                        </td>
                        <td width="40px" class="gr">
                            {{status.created | moment("HH:mm")}}
                        </td>
                        <td width="60px" class="rd">
                            {{status.username}}
                        </td>
                        <td v-html="getStatusMessage(status.status_id, status.data)"></td>
                    </tr>
                </table>
            </md-content>

            <md-dialog-actions>
                <md-button class="md-primary" @click="showLogsWindow = false">Закрыть</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</template>

<style lang="scss">
    .gr, .rd {
        font-weight: bold;
    }

    .allogs {
        padding: 15px;
    }

    .gr {
        color: green;
    }

    .rd {
        color: red;
    }

    .LogsEmpty {
        width: 100%;
        text-align: center;
        font-size: 40px;
        line-height: 46px;
        text-transform: uppercase;
        color: #e4e4e4;
        line-height: 40px;
        user-select: none;
        margin-top: 16px;
    }

    .seeFullLogs {
        /* Permalink - use to editAccount and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.82+0,1+100 */
        background: -moz-linear-gradient(top, rgba(255,255,255,0.82) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0.82) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0.82) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding: 4px;
        text-align: right;

        &:hover {
            cursor: pointer;
        }
    }

    .log-table {
        border-collapse: collapse;
        width: 100%;
    }

    .log-table tr td{
        border-bottom: 1px solid #989898;
    }

    .logarea {
        background: white;
        position: absolute;
        top: 6px;
        left: 6px;
        right: 6px;
        bottom: 6px;
        border-radius: 2px;
        color:#2b2b2b;
        padding: 4px;
        font-family: monospace;
        font-size: 12px;
        line-height: 12px;
        overflow: hidden;
    }
</style>

<script>
    export default {
        components: {

        },
        mounted() {

        },

        created() {
            this.$root.$on("onChangePost", this.onChangePost);
            this.$root.$on("onPostSaved", this.load);
        },

        methods: {
            formatUnix: function (value) {
                if (value) {
                    return this.$moment.unix(value).format('DD.MM.YYYY');
                }
            }, 

            formatUnixTime: function (value) {
                if (value) {
                    return this.$moment.unix(value).format('HH:mm'); 
                }
            },

            onChangePost(item) {
                this.post_code = item.data.code;
                this.load();
            },

            load() {
                this.loadStatuses();
                this.loadLogs();
            },

            loadLogs() {
                this.$http.get('/api/utils/navigator/get-logs/'+this.post_code)
                .then(response => {
                    this.logs = response.data;
                })
                .catch(error => {
                    console.log(error);
                });
            },

            loadStatuses() {
                this.$http.get('/api/utils/navigator/get-logs-statuses')
                .then(response => {
                    this.statuses = response.data;
                })
                .catch(error => {
                    console.log(error);
                });
            },

            getStatusMessage(id, data) {
               if (this.statuses[id]) {
                   switch (id) {
                       case 3:
                       case 2:
                           var message = this.statuses[id];
                           var parsed_data = JSON.parse(data);
                           if (!parsed_data.offer_title || !parsed_data.offer_url) return message;

                           //Обрезаем title
                           if(parsed_data.offer_title.length > 35) {
                               parsed_data.offer_title = parsed_data.offer_title.substring(0,34)+"...";
                           }

                           //Возвращаем данные
                           var html = message + ' <a href="'+parsed_data.offer_url+'" target="_BLANK">' + parsed_data.offer_title + '</a>';
                           return html;
                           break;

                       default:
                           return this.statuses[id];
                   }
               } else {
                   return "Статус не определен: "+id+"";
               }
            },

            showAllLogs() {
                this.showLogsWindow = true;
            }
        },

        computed: {
            preview () {
                var logs = this.logs;
                var length = logs.length;
                var max_total = this.max_total;
                var max = max_total > length ? length : max_total;


                var result = [];
                for (var i = 0; i < max; i++) {
                    var current = logs[i];
                    result.push(current);
                }

                return result;
            },
        },

        data() {
            return {
                post_code: null,
                logs: [],
                statuses: [],
                max_total: 5,
                showLogsWindow: false
            };
        }
    }
</script>