<template>
    <div>
        <md-content class="md-elevation-1">
            <md-toolbar class="md-primary md-dense">
                <h3 class="md-title text-center">Войти в систему</h3>
            </md-toolbar>
            <div class="loginArea">
                <md-content class="md-accent password" v-if="invalidCredintals">{{invalidMessage}}</md-content>
                <md-field>
                    <label>Имя пользователя</label>
                    <md-input v-model="username" @keyup.enter.native="login"></md-input>
                </md-field>
                <md-field>
                    <label>Пароль</label>
                    <md-input v-model="password" type="password" @keyup.enter.native="login"></md-input>
                </md-field>
                <div class="spBetween">
                    <md-checkbox v-model="remember" class="md-primary">Запомнить меня</md-checkbox>
                    <md-button class="md-dense md-raised md-primary" @click="login">Войти</md-button>
                </div>
            </div>
        </md-content>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                username: '',
                password: '',
                remember: false,
                invalidCredintals: false,
                invalidMessage: ''
            }
        },

        methods: {
            login() {
                var data = {
                    "grant_type": "password",
                    "client_id": 1,
                    "client_secret": "NtwSNeylcxcAclz82dgSvw67DGUjQF6iYyJYKEZG",
                    "username": this.username,
                    "password": this.password,
                    "scope": "*"
                };

                var self = this;
                this.$http
                .post("/oauth/token", data)
                .then(response => {
                    this.$auth.setToken(response.data.access_token, response.data.expires_in + Date.now());
                    window.location.href = '/navigator';
                }).catch(function(e) {
                    console.log(e);
                    var status = e.response.status;
                    if (status == 400) {
                        self.invalidMessage = 'Ошибка! Заполните все поля';
                        self.invalidCredintals = true;
                    } else if (status == 401) {
                        self.invalidMessage = 'Ошибка! Указаны неверные данные';
                        self.invalidCredintals = true;
                    }
                });
            }
        }
    }
</script>

<style lang="scss">
    .loginArea {
        padding: 15px;
    }

    .password {
        padding: 5px;
        text-align: center;
    }

    .spBetween {
        justify-content: space-between;
        display: flex;
    }
</style>