<template>
    <div class="PostScrollList">
        <div v-if="showLoader" class="loadingField">Загрузка...</div> 
        <md-content id="ScrollListContent" ref="ScrollListContent" v-bar="{
                    preventParentScroll: true,
                    scrollThrottle: 30,
                    }">


            <div v-images-loaded="loadedAllImages"> 
                <div class="card" v-for="slide in data" :key="slide.id">
                    <div class="card-wrapper">
                        <img src="/img/deleted.png" v-if="slide.deleted">
                        <img :src="slide.thumb" v-if="!slide.deleted" class="img-real" @load="imageLoaded" :post-code="slide.code" @error="catchErrorImage">
                        <div class="click_overlap" @click="selectItem(slide)"></div>

                        <div class="card-wrapper-id">
                            <span>{{slide.post_id}}</span>
                        </div>
                    </div>
                </div>

                <infinite-loading @infinite="loadData" v-if="firstLoaded"></infinite-loading>
            </div>
        </md-content>

        <md-dialog-alert
                :md-active.sync="errorStatus"
                md-title="Внимание! Ошибка!"
                :md-content="errorMessage" />
    </div>
</template>

<style lang="scss">
    .PostScrollList {
        position: relative;
    }

    .loadingField {
        text-align: center;
        height: auto !important;
        color: #dadada;
        font-size: 17px;
        text-transform: lowercase;
        position: absolute;
        left: 0px;
        z-index: 1;
        width: 100%;
    }

    .card-wrapper-id {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: 20px;
        background: #448aff9c;
        color: white;
        text-align: right;
        font-size: 15px;
        font-weight: bold;
        padding: 1px;
        padding-right: 5px;
        padding-left: 5px;
        pointer-events: none;

        & * {
            pointer-events: none;
        }
    }

    .vb > .vb-dragger {
        z-index: 0;
        width: 6px;
        right: 2px;
    }

    .vb > .vb-dragger > .vb-dragger-styler {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: rotate3d(0,0,0,0);
        transform: rotate3d(0,0,0,0);
        -webkit-transition:
                background-color 100ms ease-out,
                margin 100ms ease-out,
                height 100ms ease-out;
        transition:
                background-color 100ms ease-out,
                margin 100ms ease-out,
                height 100ms ease-out;
        background-color: rgba(48, 121, 244,.1);
        border-radius: 2px;
        height: calc(100% - 10px);
        display: block;
    }

    .vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
        background-color: rgba(48, 121, 244,1);
    }

    .vb > .vb-dragger:hover > .vb-dragger-styler {
        background-color: rgba(48, 121, 244,1);
        margin: 0px;
        height: 100%;
    }

    .vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
        background-color: rgba(48, 121, 244,1);
        cursor: pointer;
        margin: 0px;
        height: 100%;
    }

    .vb > .vb-dragger > .vb-dragger-styler {
        background-color: rgba(48, 121, 244,0.7);
    }

    .vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
        background-color: rgba(48, 121, 244,1);
    }
</style>

<style lang="scss" scoped>
    * {
        user-select: none;
    }

    .img-real {
        opacity: 0;
    }

    .img-real-loaded {
        opacity: 1;
        transition: 0.2s;
    }

    .click_overlap {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
    }

    .overlap-delete {
        background: url('/img/deleted.png') center no-repeat transparent;
        background-size: cover;
    }

    .spinfix {
        margin-left: 22px;
        margin-top: 5px;
    }

    //Размер между картиночками в общем списке
    $padding-card: 4;

    #ScrollListContent {
        height: 68vh;
        border-color: rgb(243, 243, 243);
        padding-top: 0px;
        padding-bottom: #{$padding-card/2}px;
        position: relative;
    }

    .card {
        .img {
            display: block;
            width: 100%;
            height: auto;
        }

        & {
            padding-right: #{$padding-card*2.5}px;
            padding-top: #{$padding-card/2}px;
            padding-bottom: #{$padding-card/2}px;
        }

        .card-wrapper {
            position: relative;
            border: 1px solid #448aff9c;
            clear: both;

            &:before {
                content: "";
                display: block;
                padding-top: 100%;
                float: left;
            }
        }

        &:hover {
            .card-wrapper {
                & .click_overlap {
                    background-color: #448aff70;
                }
            }

            cursor: pointer;
        }

        &:first-child {
            padding-top: 0px;
        }
    }
</style>

<script>
    import InfiniteLoading from 'vue-infinite-loading';
    import {_} from 'vue-underscore';
    import imagesLoaded from 'vue-images-loaded';
    import Vue from 'vue';
    import Vuebar from 'vuebar';
    import MugenScroll from 'vue-mugen-scroll';
    Vue.use(Vuebar);

    export default {
        directives: {
            imagesLoaded
        },
        props: ['filter', 'reset'],
        watch: {
            reset: {
                deep: true,
                handler: function() {
                    this.initData();
                }
            },
            filter: {
                deep: true,
                handler: function(newfilter) {
                    this.initData();
                },
            }
        },
        components: {
            MugenScroll, InfiniteLoading
        },

        created() {
            this.$root.$on("postDeleted", this.onDeletePost);
        },

        mounted() {

        },

        methods: {
            initData() {
                this.showLoader = true;
                this.data = [];
                this.meta = {
                    total: 1,
                    to: 0
                };
                this.links = {
                    first: "/api/navigator/postpreview",
                    next: "/api/navigator/postpreview"
                };
                this.errorImages = [];
                this.fetchData();
            },

            showError(error) {
                var message = error.toString();
                var stack = error.stack;
                this.errorMessage = message + '\n' + stack;
                this.errorStatus = true;
            },

            fetchData() {
                if (!this.filter.status || !this.filter.before || !this.filter.after) {
                    return;
                };
                if (this.meta.to >= this.meta.total) {
                    return;
                }
                this.loadData();
            },

            loadData($state) {
                if (this.links.next == null) {
                    this.firstLoaded = false;
                    return;
                }

                var self = this;
                this.$http
                .get(this.links.next, {
                    params: self.filter
                })
                .then(response => {
                    this.showLoader = false;

                    //Сохраняем
                    this.data = this.data.concat(response.data.data);
                    this.meta = response.data.meta;

                    //Сохраняем ссылки
                    this.links.next = response.data.next_page_url;
                    this.links.last = response.data.last_page_url;
                    this.links.prev = response.data.prev_page_url;

                    //Загрузка первого элемента с самого начала поста
                    if (this.firstLoaded == false && this.data.length > 0) {
                        var route_params = this.$route.params;
                        if (!route_params.id) {
                            var el = this.data[0];
                            this.selectItem(el);
                        }
                    }
                    this.firstLoaded = true;

                    if (this.data.length >= 20) {
                        this.firstLoaded = true;
                    } else if (this.data.length == 0){
                        this.firstLoaded = false;
                    }
                    if ($state) {
                        $state.loaded();
                    }
                }).catch(function(e) {
                    self.showError(e);
                });
            },

            onDeletePost(code) {
                var index = _.findIndex(this.data, {
                    code: code
                });
                this.$delete(this.data, index);
            },

            catchErrorImage(event) {
                let target = event.target;
                var post_code = target.getAttribute("post-code");
                this.errorImages.push(post_code);
            },

            loadedAllImages() {
                var badPosts = this.getBadPosts();
                this.fixErrorImages(badPosts);
                //this.deleteErrorPosts(badPosts);
            },

            getBadPosts() {
                var self = this;
                if (self.errorImages == null) return [];
                var badPosts = _.filter(this.data, function (o) {
                    if (self.errorImages.indexOf(o.code) != -1) return true;
                    return false;
                });

                return badPosts;
            },

            fixErrorImages(badPosts) {
                var self = this;
                _.each(badPosts, function(item) {
                    self.$set(item, "deleted", true);
                });
            },

            deleteErrorPosts(badPosts) {
                var self = this;
                var codes = this.errorImages;
                this.$http
                .post("/api/utils/navigator/delete-orphans", {codes: codes})
                .then(response => {
                }).catch(function(e) {
                    self.showError(e);
                });
            },

            selectItem(item) {
                let code = item.code;
                this.$router.push({ path: `/navigator/${code}` });
            },

            imageLoaded(event) {
                let target = event.target;
                target.classList.add("img-real-loaded");
            },
        },

        computed: {

        },

        data() {
            return {
                firstLoaded: false,
                data: [],
                links: {},
                meta: {},
                errorImages: [], 
                errorStatus: false,
                errorMessage: "",
                showLoader: true
            };
        }
    }
</script>
